<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On


    # Redirect Trailing Slashes...
  #  RewriteRule ^(.*)/$ /$1 [L,R=301]

    #RewriteCond %{HTTP_HOST} ^(www.)?feed4thought.net$
    #RewriteRule ^(/)?$ funnel-clean [L]

   # RewriteCond %{HTTP_HOST} ^feed4thought.net
    #RewriteRule ^(.*) http://feed4thought.net/funnel-clean/ [L]

    #RewriteCond %{HTTP_HOST} ^feed4thought\.net [NC]
    #RewriteRule ^(.*)$ http://buttoncommissions.com/funnel-clean/$1 [p]
    #RewriteRule ^ /funnel-clean [P]
    #RewriteRule ^$ /funnel-clean [P]

    RewriteCond %{HTTP_HOST} !^panel\. [NC]
    RewriteRule ^(admin.*) http://panel.%{HTTP_HOST}/$1 [R=301,L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]



</IfModule>