// global
.loading{
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: -68px;
  height: 0px;
}
.visible-hidden{
  visibility: hidden;
}
body{
  padding-top: 0px;
  background: transparent;
  position: relative;
  font-family: Arial;
}
h1,h2,h3{
  height: auto;
}
.table{
  display: table;
  width: 100%;
  height: 100%;
  > div{
    display: table-cell;
  }
}
input,select{
  color: #565656 !important;
  .plc({
    color: #565656 !important;
  });
}
.full-w{
  width: 100%;
}
.form-control {
  box-shadow: none;
}
#submit{
  &:focus{
    outline: none !important;
  }
  border: 0px;
}
#phone {
  float: right;
}
#prefix{
  margin-right: 5px;
  padding: 0;
  text-align: center;
}
#prefix,#phone{
  &:focus {
    outline: none;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cdb12f;
    box-shadow: inset 0px 0px 0px #cdb12f, 0px 0px 1px #cdb12f;
  }
}
.npad{
  padding: 0;
}
.npads{
  > *{
    padding: 0;
  }
}
.g-recaptcha{
  margin-bottom: 5px;
  position: absolute;
  right: 0;
  bottom: -81px;
}

label.error {
  background: #fff;
  border: 1px dashed #D68E7A;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 11px !important;
  line-height: 7px;
  padding: 3px;
  color: #E56D4F;
  position: absolute !important;
  top: -21px;
  width: 131px;
  .right(2px);
  font-family: Arial;
  text-align: center;
  .af;
  &:after {
    top: 100%;
    .left(50%);
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(130, 7, 5, 0);
    border-top-color: #fff;
    border-width: 6px;
    .margin-left(-10px);
  }
}
.pull-right-childs{
  float: @right;
  > *{
    float: @right;
  }
}
.pull-left-childs{
  float: @left;
  > *{
    float: @left;
  }
}
.pull-left {
  float: @left !important;
}
.navbar-header {
  @media(max-width: @screen-sm) {
    position: relative;
    top: -14px;
  }
}
.navbar-toggle {
  margin-right: -11px;
}
@media(max-width: @screen-sm){
  #bs-navbar {
    width: 300px;
    overflow-x: hidden;
    > ul {
      position: relative;
      z-index: 9999999999;
      background: rgba(0, 0, 0, 0.8);
      margin: 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}
.nav > li > a:hover, .nav > li > a {
  width: 100%;
  @media(max-width: @screen-sm) {
    border-bottom: 1px solid #ccc;
  }
  &:focus{
    background-color: transparent;
  }
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

// custom

.navbar-header{
  display: none;
}
#bs-navbar{
  display: block;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
@media(max-width: @screen-sm){
  .navbar-header{
    display: block;
  }
  #bs-navbar:not(.in):not(.collapsing){
    display: none;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(255,255,255,0.3);
  }
}

.form{
  width: 100%;
  form{
    max-width: 1182px;
    margin: 0 auto;
  }
  .field{
    position: relative;
    display: inline-block;
    .margin-right(10px);
  }
  @media(max-width: 1265px) {
    .fields {
      max-width: 100%;
      min-width: 300px;
      width: 40%;
      margin: 0 auto !important;
      left: 0 !important;
      right: 0 !important;
      .field {
        display: block;
        margin: 0 !important;
        input{
          max-width: 100%;
          margin-bottom: 8px;
        }
      }
    }
  }
  input{
    max-width: 170px;
    border: 0;
    border-radius: 0;
    height: 50px;
    padding: 6px 12px;
  }
  #submit{
    max-width: 100%;
  }
  #prefix{
    max-width: 43px;
  }
  #phone{
    max-width: 120px;
  }
}

// added

body{
  color: #fff;
  font-family: 'Roboto Condensed';
}
.background(@img){
  @img_f: '/img/lp/binary-currencies/';
  background: url('@{img_f}@{img}');
  background-repeat: no-repeat;
}


.container{
  max-width: 1688px;
  float: none;
  margin: 0 auto;
}
.container:not(.col){
  width: 100%;
  height: 100%;
}

.head{
  display: table;
  width: 100%;
  .logo{
    background: url('/img/lp/logo.png') no-repeat;
    width: 215px;
    height: 43px;
    position: relative;
    top: -13px;
    .right(-14px);
  }
  .texts{
    background: #000;
    height: 75px;
    text-align: center;
    font-size: 11px;

    .container{
      padding: 23px 45px;
    }
    a{
      font-family: Arial;
      color: #fbfbfe;
      i{
        .margin-right(6px);
        &.fa-circle{
          color: rgba(4,143,26,1);
        }
        &.fa-phone{
          font-size: 15px;
        }
        &.fa-envelope{
          .fsize(1.4,1.2);
          position: relative;
          top: -2px;
        }
      }
      &:hover{
        @media(min-width: @screen-sm){
          border-bottom: 1px solid #fbfbfe;
          .phone{
            color: #9EC5D5;
          }
        }
      }
    }
  }
  .bg{
    .background('Big-Pic.jpg');
    position: relative;
    width: 100%;
    height: 621px;
    overflow: hidden;
    background-position: 50% 0;
    @media(min-width: 1900px){
      background-size: 100%;
    }
    h1{
      color: #fff;
      text-align: center;
      font-size: 53px;
      margin-top: 1px;
      font-weight: bold;
      margin-bottom: 8px;
      span{
        color: #55b5ff;
      }
    }
    h2{
      color: #fff;
      text-align: center;
      font-size: 37px;
      margin-bottom: 15px;
    }
    h3{
      color: #fff;
      text-align: center;
      font-style: italic;
      font-weight: bold;
      font-size: 27px;
      border: 3px solid #fff;
      -webkit-box-shadow: 4px 5px 9px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 5px 9px 0px rgba(0,0,0,0.75);
      box-shadow: 4px 5px 9px 0px rgba(0,0,0,0.75);
      margin: 0 auto;
      height: 44px;
      line-height: 38px;
      max-width: 625px;
      padding: 0 33px;
      position: relative;


      position: relative;
      &:after,&:before{
        position: absolute;
        content: '';

        top: 11px;
        height: 18px;
        width: 23px;
      }
      @media(max-width: 700px){
        height: auto;
        &:after,&:before {
          top: 40%;
        }
      }
      &:after{
        right: -1px;
        .background('arrow-right.png');

      }
      &:before{
        left: -1px;
        .background('arrow-left.png');
      }
    }
    .form{
      position: absolute;
      bottom: 0;
      .left(0);
      .title{
        text-align: center;
        color: #fff;
        font-size: 37.5px;
        margin-bottom: 20px;
        line-height: 36px;
      }

      form{
        position: relative;
        .fields{
          position: relative;
          .left(39px);
          top: -15px;
          z-index: 9;
        }
        #submit{
          color: #010000;
          text-shadow: 0.2px 0.1px 0.5px #fff;
          box-shadow: none;
          font-weight: bold;
          .background('button.png');
          width: 240px;
          height: 92px;
          background-position: 0px 0px;
          span{
            display: block;
            transform: scale(0.8, 1);
            font-size: 25px;
            .fsize(0.8,1);
          }

          position: relative;
          &:after{
            content: '';
            position: absolute;
            top: 34px;
            .right(24px);
            .background('black-bt-arrow-@{right}.png');
            height: 25px;
            width: 25px;
          }
          &:hover{
            background-position: 0px -94px;
          }
          &:focus{
            background-position: 0px -188px;
          }
        }
      }
    }
  }

}
h1, h2, h3, .form>.title{
  text-shadow: 2px 2px 2px #000;
}

@media(max-width: 1265px){
  .bg{
    background: #000 url('/img/lp/binary-currencies/big-pic.jpg');
    background-position: 50% 111px;
    height: auto !important;
  }
  .form{
    position: relative !important;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid transparent;
    .border-radius(5px);
    width: 98%;
    .margin-left(1%);
    margin-bottom: 1%;
    #prefix{
      width: 20%;
      max-width: 100%;
    }
    #phone{
      width: 78%;
      max-width: 100%;
    }
    #submit{
      margin: 0 auto;
    }

    form{
      &:after,&:before{
        width: 20% !important;
        background-size: contain !important;
      }
      &:before{
        right: 5px !important;
      }
      &:after{
        left: 5px !important;
      }
    }
  }

}

@media(max-width: @screen-md) {
  .bg{
    background: #000 !important;
  }
  form {
    &:after, &:before {
      display: none;
    }
    input{
      height: 35px;
    }
  }
}

.main{
  padding-top: 60px;
  background: #081822;
  .per{
    color: #081822;
    height: 234px;
    .icon{
      width: 35px;
      .margin-right(13px);
      float: @left;
      &.reduce1{
        max-width: 24px;
      }
    }
    .title{
      font-family: Arial;
      font-size: 18px;
      font-weight: bold;
      height: 36px;
      color: #70b7e0;
      text-transform: capitalize;
    }
    .text{
      font-family: Arial;
      color: #fff;
      .padding-left(51px);
      padding-top: 16px;
      padding-bottom: 76px;
      font-size: 15px;
      line-height: 22px;
    }
  }
}

.footer{
  .bg{
    height: 70px;
    background: #1c2f3b;
    color: #5183a1;
    .text{
      margin: 0 auto;
      padding-top: 18px;
      max-width: 1052px;
      font-family: Arial;
      line-height: 12px;
      font-size: 11px;
      @media(max-width: @screen-lg){
        padding: 5px 10px;
      }
    }
  }
}

/*
@media(min-width: 1265px){
  .logo{
    top: -17px;
    right: -158px;
  }
  .npads{
    position: relative;
    left: -181px;
  }
}*/
@media(min-width: 1265px) {
  .form {
    background: rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    padding-top: 9px;
          .fadeInUp;
     .anim(1s,1s,ease-out);
  }

  form {
    display: table;
  }

  .head .bg .form form .fields {
    top: 4px;
    .left(-112px);
    > .field {
      float: @left;
      &:nth-of-type(4) {
        clear: both;
      }
      &:last-child {
        position: absolute;
      }
      input {
        border: 0;
        border-radius: 0;
        height: 35px;
        padding: 6px 12px;
        margin-bottom: 4px;
        max-width: 100%;
        width: 210px;
        &#phone {
          max-width: 162px;
        }
      }
      #submit{
        top: -8px;
        .left(-13px);
      }
    }
  }
}

.select {
  display: inline-block;
  position: relative;
  width: 100%;
  &:after {
    .background('dropdown.png');
    position: absolute;
    display: inline-block;
    content: "";
    top: 4px;
    right: 4px;
    border-left: 1px solid #eaeaea;
    padding-left: 10px;
    height: 29px;
    width: 29px;
    padding-top: 10px;
    pointer-events: none;
    background-repeat: no-repeat;
  }
  &:hover{
    &:after {
      background-position: -28px 0px;
    }
  }
  &.focus{
    &:after {
      background-position: -56px 0px;
    }
  }

  select {
    padding: 6px 0px;
    padding-left: 12px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
    height: 36px;
    display: inline-block;
  }
}

.row.icons{
  text-align: center;
  padding-bottom: 10px;
}