// global

body{
  padding-top: 0px;
  background: transparent;
  position: relative;
}

#prefix,#phone{
  &:focus {
    outline: none;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cdb12f;
    box-shadow: inset 0px 0px 0px #cdb12f, 0px 0px 1px #cdb12f;
  }
}
.npad{
  padding: 0;
}
.npads{
  > *{
  padding: 0;
  }
}

label.error {
  background: #fff;
  border: 1px dashed #D68E7A;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 11px !important;
  line-height: 7px;
  padding: 3px;
  color: #E56D4F;
  position: absolute !important;
  top: -21px;
  width: 131px;
  .right(2px);
  font-family: Arial;
  text-align: center;
  .af;
  &:after {
    top: 100%;
    .left(50%);
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(130, 7, 5, 0);
    border-top-color: #fff;
    border-width: 6px;
    .margin-left(-10px);
  }
}
.pull-right-childs{
  float: @right;
  > *{
    float: @right;
  }
}
.pull-left-childs{
  float: @left;
  > *{
    float: @left;
  }
}
#bs-navbar{
  @media(max-width: @screen-sm) {
    width: 300px;
  }
  overflow-x: hidden;
  > ul{
    position: relative;
    z-index: 9999999999;
  }
}
.nav > li > a:hover, .nav > li > a {
  width: 100%;
  &:focus{
    background-color: transparent;
  }
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

// custom

.navbar-header{
  display: none;
}
#bs-navbar{
  display: block;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
@media(max-width: @screen-sm){
  .navbar-header{
    display: block;
  }
  #bs-navbar:not(.in):not(.collapsing){
    display: none;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(255,255,255,0.3);
  }
}

// added

// new font -- samsungsharpsans
.newfont('samsungsharpsans-regular_v2');
.newfont('samsungsharpsans-medium_v2');
.newfont('samsungsharpsans-bold_v2');
body{
  font-family: 'samsungsharpsans-regular_v2';
}
.background(@img){
  @img_f: '/img/lp/generalbinary/';
  background: url('@{img_f}@{img}');
  background-repeat: no-repeat;
}


.container{
  max-width: 1688px;
  float: none;
  margin: 0 auto;
}
.container:not(.col){
  width: 100%;
  height: 100%;
}

.head{
  .bg{
    .background('big-pic.jpg');
    width: 100%;
    height: 621px;
    background-size: 100%;
    background-position: 50% 0;
  }

  .logo{
    .background('logo.png');
    width: 215px;
    height: 43px;
    position: relative;
    top: -17px;
    right: 3px;
  }
  .texts{
    background: #000;
    height: 75px;
    text-align: center;
    font-size: 11px;

    .container{
      padding: 23px 45px;
    }
    a{
      color: #fff;
      i{
        margin-right: 6px;
        &.fa-circle{
          color: rgba(4,143,26,1);
        }
        &.fa-phone{
          font-size: 15px;
        }
        &.fa-envelope{
          .fsize(1.4,1.2);
        }
      }
    }
  }

}