// global

body{
  padding-top: 0px;
  background: transparent;
  position: relative;
}

#prefix,#phone{
  &:focus {
    outline: none;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cdb12f;
    box-shadow: inset 0px 0px 0px #cdb12f, 0px 0px 1px #cdb12f;
  }
}


label.error {
  background: #fff;
  border: 1px dashed #D68E7A;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 11px !important;
  line-height: 7px;
  padding: 3px;
  color: #E56D4F;
  position: absolute !important;
  top: -21px;
  width: 131px;
  .right(2px);
  font-family: Arial;
  text-align: center;
  .af;
  &:after {
    top: 100%;
    .left(50%);
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(130, 7, 5, 0);
    border-top-color: #fff;
    border-width: 6px;
    .margin-left(-10px);
  }
}

// custom

// new font -- samsungsharpsans
.newfont('samsungsharpsans-regular');
.newfont('samsungsharpsans-medium');
.newfont('samsungsharpsans-bold');
body{
  font-family: 'samsungsharpsans-regular';
}
.background(@img){
  @img_f: '/img/lp/generalbinary/';
  background: url('@{img_f}@{img}');
  background-repeat: no-repeat;
}

.container{
  max-width: 1688px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

}
.head{
  .background('big-pic.jpg');
  width: 100%;
  height: 696px;
  background-size: 100%;
  background-position: 50% 0%;

  .logo{
    .background('logo.png');
    width: 215px;
    height: 43px;
  }

}