.update_title {
    font-size: 25px;
    margin-bottom: 50px;
}
.update_title:first-child {
    margin-top: 30px;
}
.update_subtitle {
    font-size: 20px;
    margin-bottom: 35px;
}

.video { border: none !important; }

#container-members {
 background: url("/img/dreamprofits/mbg.jpg") no-repeat fixed center;
}

#SubmitOptIn {
    background: url('/img/dreamprofits/INSTANT-ACCESS.png');
    width: 266px;
    height: 80px;
}

#SubmitOptIn:hover {
    background: url('/img/dreamprofits/INSTANT-ACCESS-hover.png');
}