* {margin:0;padding: 0;outline: 0;}
ul {list-style:none;}
a {text-decoration:none;}
input {-webkit-appearance: none;border-radius: 0;}
select {-webkit-tap-highlight-color: rgba(0,0,0,0);}
.clear {clear:both;}
body {font-family: roboto;}
.header {width: 100%;overflow: hidden;min-height: 880px;background: url('/img/lp/riskfree/header1.jpg') no-repeat top 70px center;position: relative;}
.TopHeader {
    width: 100%;
    min-width:260px;
    height: 50px;
    background: #000000;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    padding:0;
    z-index: 80;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.TopHeader .logo {
    background: url('/img/lp/riskfree/logo.png') no-repeat;
    min-width: 193px;
    max-width: 100%;
    min-height: 44px;
    position: relative;
    top: 0;
    float: left;
    z-index: 10;
    margin: 3px 10px 0 10px;
}
.center {
    width: 100%;
    margin: 0 auto;
    min-height: 10px;
    max-width: 1460px;
}
.topLayer {
    overflow: hidden;
    display: block;
    padding-top: 52px;
}
.form {
    width: 19%;
    min-width: 360px;
    min-height: 345px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 11;
    border-bottom: 2px solid #47c421;
    float: right;
    margin-top: 105px;
}
.formbg {
    background:rgba(0, 0, 0, 0.5);
    min-width:320px;
    min-height:341px;
    height:100%;
    position: relative;
    padding-top: 45px;
}
.formbg h1 {
    font-size: 25px;
    color: #ea4d07;
    padding: 10px 0px 0px 0px;
    max-height: 64px;
    overflow: hidden;
    font-family: Arial;
    direction: ltr;
    text-align: center;
}
.LeadCapture fieldset div, .Password fieldset div {
    position:relative;
    overflow: hidden;
}
.LeadCapture fieldset div label {
    position:absolute;
    top:-16px;
    direction: ltr;
    right: 0;
}
.Password fieldset div label {
    position: absolute;
    top: 0;
    right: 0;
    direction: ltr;
    text-align: right;
}
.form fieldset {
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    padding:5%;
}
.form fieldset div label {
    display: none;
}
.form fieldset div .formInput {
    width: 100%;
}
.form fieldset div input[type="text"], .form fieldset div select, /*.form fieldset div input[type="password"] {
    padding:0 10px;
    height: 37px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 17px;
    border-top:1px solid #b8b7b8;
    border-right:1px solid #d7d7d7;
    border-bottom:1px solid #cec6c5;
    border-left:1px solid #d7d7d7;
    position: relative;
    z-index: 70;
    direction: ltr;
    text-align: left;
}*/
/*.form fieldset div input[type="password"] {
    margin-top: 0;
}*/
.form fieldset div select {
    line-height: 30px;
    padding:0 8px 0 0;
}
.form fieldset div .formInputMedium {
    width: 70%;
    float:right;
    direction: ltr !important;
}
.form fieldset div .formInputSmall {
    width: 25%;
    float: left;
    text-align: center !important;
    background:#fff;
}
.Reg_OpenAccountBtn, .OrangeBtn {
    font-family: roboto;
    width: 100%;
    height: 69px;
    background: #47c421;
    font-size: 24px;
    color: #000;
    border-top: 1px solid #2B850F;
    border-right: 1px solid #309B0F;
    border-bottom: 1px solid #65B74C;
    border-left: 1px solid #76D05B;
    -webkit-box-shadow: 1px 1px 4px -1px #333;
    -moz-box-shadow: 1px 1px 4px -1px #333;
    box-shadow: 1px 1px 4px -1px #333;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
    font-weight: 500;
}
.blueBtn {
    width: 100%;
    height: 62px;
    background: #0d97ab;
    font-size: 24px;
    color: #fff;
    border-top:1px solid #69bfcb;
    border-right:1px solid #0a7281;
    border-bottom:1px solid #14636f;
    border-left:1px solid #48b0bf;
    -webkit-box-shadow: 1px 1px 4px -1px #333;
    -moz-box-shadow: 1px 1px 4px -1px #333;
    box-shadow: 1px 1px 4px -1px #333;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
}
.Reg_OpenAccountBtn {
    margin-top: 10px;
}
.Password {display: none;}
#OAPassword {
    margin-top: 60px;
}
.form img {
    width: 100%;
    max-width: 60px;
    position: absolute;
    z-index: 10;
    left: calc(50% - 30px);
    top: -45px;
}
/*Slider*/
.slider {position:relative;overflow: hidden;height:100%;min-height:252px;}
.slider .slideHolder {position:relative;width:100%;}
.slider .homeImage {position:absolute; top:0;left:0;}
.underImg {z-index: 7;}
.aboveImg {z-index: 9;}
.MI1 {
    font-size: 48px;
    color: #fff;
    position: absolute;
    top: 30px;
    left: 50px;
    max-width: 420px;
    z-index: inherit;
}
.Txt1, .Txt2 {
    position:absolute;
    font-size:48px;
    font-size:3vm;
    z-index:13;
    color:#fff;
    letter-spacing: -1px;
}
.Txt1 {
    top:55% !important;
    left:7%;
}
.Txt2 {
    top: 10%;
    left: 39%;
}
/*Errors*/
.redBorder {
    border:1px solid red !important;
}
.EmailErr, .PassErr, .ConfPassErr {
    color:#f15d20;
    font-size:14px;
}
/*Start css*/
.SSLHolderX {
    display: none;
}
.SSLHolder {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: -25%;
    z-index: 11;
}
.SSL {
    width:283px;
    height:63px;
    display: block;
    margin:0 auto;
}
/*testimonials*/
.testimonials {
    position:relative;
    top:0;
    padding:2% 7% 0;
    background:#f6f6f6;
    clear:both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.inve1, .inve2, .inve3, .inve4 {
    display:none;
    position:relative;
    float:none;
    width:90%;
    margin-right: 30px;
    min-width:260px;
    margin:0 auto;
}
.Addition1, .Addition2, .Addition3 {
    display: table;
    margin:0 auto;
}
.tableCell {
    display: table-cell;
}
.person {
    padding-left: 15px;
    display: table-cell;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lyric {
    position: relative;
    display: table;
}
.arrow {
    display: block;
    background: #e6e8ea;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    z-index: 1;
    border-radius:0 3px 0 0;
    float: left;
    margin-top: 67px;
    margin-left: 5px;
}
.lyContent {
    background: #f6f6f6;
    position: relative;
    display: table-cell;
    padding: 15px;
    border: 1px solid #dce0e2;
    border-radius: 5px;
    vertical-align: middle;
    width: 100%;
    height:146px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    direction:ltr;
    text-align: left;
}
.TestiDetails {
    display: table;
    width: 100%;
    height: 70px;
    margin-top: 15px;
    color: #0d97ab;
    font-size: 11px;
    position: relative;
}
.howis {
    position: absolute;
    right: 170px;
    top: 0;
    display: table-cell;
    text-align: right;
}
.testiDate {
    color:#6b6b6c;
    font-size:9px;
    position: absolute;
    left: 0;
    display: table-cell;
    width: 26%;
    text-align: left;
}
.name {
    text-align: right;
    width: 100%;
    margin-top: 10px;
}
.whereFrom {
    display: table-cell;
    padding-right: 15px;
}
.personal {
    /*background:url'/img/lp/riskfree/Personal.png') no-repeat;*/
    width:153px;
    height:153px;
    display: inline-block;
}
.inve1 .personal {
    background: url('/img/lp/riskfree/Testimonials_EN_1.png') no-repeat;
}
.inve2 .personal {
    background: url('/img/lp/riskfree/Testimonials_EN_2.png') no-repeat;
}
.inve3 .personal {
    background: url('/img/lp/riskfree/Testimonials_EN_3.png') no-repeat;
}
.inve4 .personal {
    background: url('/img/lp/riskfree/Testimonials_EN_4.png') no-repeat;
}
.inve5 .personal {
    background: url('/img/lp/riskfree/Testimonials_EN_5.png') no-repeat;
}
.bulletsHolder {
    min-width:57px;
    display: table;
    height: 30px;
    margin: 0 auto;
}
.bullets {
    background:url('/img/lp/riskfree/bullets.png') no-repeat;
    position: relative;
    top:1px;
    width:14px;
    height:14px;
    background-position:-16px 0px;
    margin-left: 5px;
    float:left;
    cursor:pointer;
}
.bulletsHolder .current {
    top:0px;
    background-position:0px 0px;
}
.disclaimer {
    position: relative;
    padding: 3% 7% 1%;
    color: #aaa;
    font-size: 11px;
    font-family: arial;
    direction: ltr;
    text-align: center;
}
.credits {
    font-size: 11px;
    text-align: center;
    color: #aaa;
    padding-bottom: 2%;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    color: #fff;
    background: #fff;
    position: absolute;
    z-index: 999;
}

.sslIcons img {
    position: static;
    width: 100%;
    max-width: 90%;
}

.sslIcons {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

input#Reg_OAFName {
    width: 49%;
    float: left;
    margin-right: 2%;
}

input#Reg_OALName {
    width: 49%;
    float: left;
}

.footer {
    width: 100%;
    overflow: hidden;
    max-width: 1190px;
    margin: 0 auto;
}

.header>img {
    /* width: 100%; */
}

.testimonial1,.footerText {
    width: 50%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

.footerText {
    font-family: roboto;
    font-size: 9pt;
    color: #757575;
    text-align: justify;
}

.person {
    width: 100%;
    padding: 0;
    position: relative;
    float: left;
}

.person img {
    max-width: 93px;
    width: 93px;
    margin-right: 0;
    float: left;
}

.person p {
    background: #e6e8ea;
    padding: 20px 25px;
    float: right;
    width: calc(100% - 106px);
    box-sizing: border-box;
    margin-top: -5px;
    border-radius: 5px;
    margin-left: -8px;
    color: #0d0d0d;
    font-size: 11pt;
}

.details {
    width: 100%;
    float: left;
    text-align: right;
    color: #0d97ab;
    font-size: 10pt;
}
.logo {
    width: 100%;
    height: 70px;
    background: #fff;
    box-sizing: border-box;
    padding: 15px;
}

img.prot {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

img.mcafee {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

@media all and (max-width: 1800px) {
    .form {
    }
}
@media all and (max-width: 1700px) {
    .form {
    }
}

@media all and (max-width: 1330px) and (min-width: 0px) {
    .SSLHolder {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        bottom: 0%;
        right:-100%;
        z-index: 11;
    }
    .SSL {
        width:283px;
        height:63px;
        display: block;
        margin:0 auto;
    }

    .header {
        background: url('/img/lp/riskfree/header2.jpg') no-repeat top 70px center;
    }

    .center {
        max-width: 1150px;
    }

    .form {
        margin-top: 100px;
    }
}
@media all and (max-width: 1130px) {
    .header {
        background: url('/img/lp/riskfree/header3.jpg') no-repeat top 70px left;
    }
}

@media all and (max-width: 1045px) {
    .header {
        background: none;
    }

    .header>img.headerImg {
        display: block !important;
        width: 100%;
        float: left;
    }
    .web {
        display: none;
    }
    .mobile {
        display: block;
    }
    .form {
        min-width: 260px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        z-index: 9;
        margin: 0 auto;
        width: 95%;
        max-width: 600px;
        float: none;
        box-shadow: 12px 0 15px -4px rgb(196, 193, 193), -12px 0 8px -4px rgba(196, 193, 193, 0.8);
    }
    .formbg {
        background:#dedede;
        height:100%;
    }
    .SSLHolder{
        display: none;
    }
    .SSLHolderX {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top:80%;
        left:0%;
        z-index: 11;
        text-align: center;
        width:100%;
        height: 49%;
        display: block;
    }
    .testimonials {
        clear: none;
        float:left;
        padding:7% 2%;
        width:50%;
        height:350px;
    }
    .personal {
        background: url('/img/lp/riskfree/PersonaMobile.png') no-repeat;
        width:73px;
        height:73px;
        display: inline-block;
    }
    .howis {
        right:91px;
    }
    .bulletsHolder {
        min-width:117px;
    }
    .center {
        float: left;
        background: #F5F3F3;
    }

    .sslIcons img {
        max-width: 300px;
    }

    .sslIcons {margin-top: 0;}
    img.prot,img.mcafee {z-index: 12;}
    .testimonial1, .footerText {padding: 20px 15px;}
}
@media all and (max-width: 900px) {
    .mobileHed{display:block !important;width: 100%;}
    .header>img.headerImg{display:none !important;}
    .form {margin-bottom: 75px;}
    img.topForm {display: none;}
    .testimonial1, .footerText {width: 100%;}
    .footerText {order: 2;padding-top: 10px;}
    .testimonial1 {order: 1;padding-bottom: 10px;}
    .footer {display: flex;flex-direction: column;}
    .person p{margin-top:0;}
}
@media all and (max-width: 360px) {
    img.mcafee {width: 57.5%;left: 2.5%;}
    img.prot {width: 37.5%;right: 2.5%;max-width: 101px;}
    .formbg {min-width: 0;}
    .logo {text-align: center;}
    .person p {width: 100%;margin-top: -8px;}
    .arrow {margin-top: 90px;border-bottom: 0;border-top: 1px solid #cccccc;}
}

#floatingBarsG {
    position: relative;
    width: 62px;
    height: 77px;
}

.blockG {
    position: absolute;
    background-color: #FFFFFF;
    width: 10px;
    height: 24px;
    -moz-border-radius: 8px 8px 0 0;
    -moz-transform: scale(0.4);
    -moz-animation-name: fadeG;
    -moz-animation-duration: 0.8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 8px 8px 0 0;
    -webkit-transform: scale(0.4);
    -webkit-animation-name: fadeG;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 8px 8px 0 0;
    -ms-transform: scale(0.4);
    -ms-animation-name: fadeG;
    -ms-animation-duration: 0.8s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 8px 8px 0 0;
    -o-transform: scale(0.4);
    -o-animation-name: fadeG;
    -o-animation-duration: 0.8s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 8px 8px 0 0;
    transform: scale(0.4);
    animation-name: fadeG;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#rotateG_01 {
    left: 0;
    top: 28px;
    -moz-animation-delay: 0.3s;
    -moz-transform: rotate(-90deg);
    -webkit-animation-delay: 0.3s;
    -webkit-transform: rotate(-90deg);
    -ms-animation-delay: 0.3s;
    -ms-transform: rotate(-90deg);
    -o-animation-delay: 0.3s;
    -o-transform: rotate(-90deg);
    animation-delay: 0.3s;
    transform: rotate(-90deg);
}

#rotateG_02 {
    left: 8px;
    top: 10px;
    -moz-animation-delay: 0.4s;
    -moz-transform: rotate(-45deg);
    -webkit-animation-delay: 0.4s;
    -webkit-transform: rotate(-45deg);
    -ms-animation-delay: 0.4s;
    -ms-transform: rotate(-45deg);
    -o-animation-delay: 0.4s;
    -o-transform: rotate(-45deg);
    animation-delay: 0.4s;
    transform: rotate(-45deg);
}

#rotateG_03 {
    left: 26px;
    top: 3px;
    -moz-animation-delay: 0.5s;
    -moz-transform: rotate(0deg);
    -webkit-animation-delay: 0.5s;
    -webkit-transform: rotate(0deg);
    -ms-animation-delay: 0.5s;
    -ms-transform: rotate(0deg);
    -o-animation-delay: 0.5s;
    -o-transform: rotate(0deg);
    animation-delay: 0.5s;
    transform: rotate(0deg);
}

#rotateG_04 {
    right: 8px;
    top: 10px;
    -moz-animation-delay: 0.6s;
    -moz-transform: rotate(45deg);
    -webkit-animation-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-animation-delay: 0.6s;
    -ms-transform: rotate(45deg);
    -o-animation-delay: 0.6s;
    -o-transform: rotate(45deg);
    animation-delay: 0.6s;
    transform: rotate(45deg);
}

#rotateG_05 {
    right: 0;
    top: 28px;
    -moz-animation-delay: 0.7s;
    -moz-transform: rotate(90deg);
    -webkit-animation-delay: 0.7s;
    -webkit-transform: rotate(90deg);
    -ms-animation-delay: 0.7s;
    -ms-transform: rotate(90deg);
    -o-animation-delay: 0.7s;
    -o-transform: rotate(90deg);
    animation-delay: 0.7s;
    transform: rotate(90deg);
}

#rotateG_06 {
    right: 8px;
    bottom: 7px;
    -moz-animation-delay: 0.8s;
    -moz-transform: rotate(135deg);
    -webkit-animation-delay: 0.8s;
    -webkit-transform: rotate(135deg);
    -ms-animation-delay: 0.8s;
    -ms-transform: rotate(135deg);
    -o-animation-delay: 0.8s;
    -o-transform: rotate(135deg);
    animation-delay: 0.8s;
    transform: rotate(135deg);
}

#rotateG_07 {
    bottom: 0;
    left: 26px;
    -moz-animation-delay: 0.9s;
    -moz-transform: rotate(180deg);
    -webkit-animation-delay: 0.9s;
    -webkit-transform: rotate(180deg);
    -ms-animation-delay: 0.9s;
    -ms-transform: rotate(180deg);
    -o-animation-delay: 0.9s;
    -o-transform: rotate(180deg);
    animation-delay: 0.9s;
    transform: rotate(180deg);
}

#rotateG_08 {
    left: 8px;
    bottom: 7px;
    -moz-animation-delay: 1s;
    -moz-transform: rotate(-135deg);
    -webkit-animation-delay: 1s;
    -webkit-transform: rotate(-135deg);
    -ms-animation-delay: 1s;
    -ms-transform: rotate(-135deg);
    -o-animation-delay: 1s;
    -o-transform: rotate(-135deg);
    animation-delay: 1s;
    transform: rotate(-135deg);
}

@-moz-keyframes fadeG {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #FFFFFF;
    }
}

@-webkit-keyframes fadeG {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #FFFFFF;
    }
}

@-ms-keyframes fadeG {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #FFFFFF;
    }
}

@-o-keyframes fadeG {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #FFFFFF;
    }
}

@keyframes fadeG {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #FFFFFF;
    }
}


.form fieldset div input[type="text"], .form fieldset div select, .form fieldset div select{
    padding: 7px;
    line-height: 30px;
}
input.form-control {
    border-radius: 0;
    margin-bottom: 20px;
    height: 44px;
    padding: 7px;
}
.phoneFields {
    margin-bottom: 20px;
    height: 44px;
    width: 100%;
}
.phoneFields input {
    height: 44px;
    padding: 7px;
    border: 1px solid #ccc;
}
#prefix{
    text-align: center;
}
#phone{
    float: right;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-12.field {
    width: 100%;
}
#submit.form-control {
    height: 70px;
    background-color: #47c421;
    font-size: 24px;
    color: #000;
    font-family: roboto sans-serif;
    border: 0;
}
.LeadCapture fieldset div, .Password fieldset div{
    overflow: visible;
}
label.error{
    display: none !important;
}
.error, .phoneFields input.error{
    border: 1px solid red;
    outline: red;
    background-color: #FFD4D4;
}

.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow:  0px 0px 21px rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 21px rgba(255, 255, 255, .9);
}
.sslIcons {
    margin-top: 24px;
}