/*///   Popup Style    ///*/

.popup-container {
    background-color: rgba(19, 118, 40, 0.95);
    z-index: 9999999;
    height: 100%;
    width: 100%;
}

.popup-inner-container {
    margin: 0 auto;
    position: relative;
    top: 180px;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
}

.top-wrapper {
    border-bottom: 1px solid #30a048;
    padding-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup-mail-img-div {
}

.popup-mail-img {
    margin: 0 auto;
}

.popup-main-header {
}

.main-header {
    margin-top: 32%;
    padding-left: 20px;
}

.panel-body {
}

.form-main-header {
    color: #adfebe;
    font-weight: 300;
    margin-bottom: 25px;
}

.form-sub-header {
    margin-bottom: 25px;
}

.popup-form {
}

#email-popup {
    border-radius: 3px;
    min-height: 65px;
    text-align: center;
}

#sign-me-up-btn {
    border-radius: 3px;
    background-color: #ff940e;
    min-height: 75px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
   /* border-bottom: 2px solid #a25a00;*/
	box-shadow: 0 5px 0 #a25a00;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-size: 40px;
	transition: all 0.3s ease 0s;
}
#sign-me-up-btn:hover{
	
	    background-color: #d78116;
		

}

#sign-me-up-btn:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

input:-moz-placeholder {
    color: #818181 !important;
}

input:-ms-input-placeholder {
    color: #818181 !important;
}

#popup-close {
	cursor:pointer;
    margin: 0 auto;
    position: absolute;
    right: -30px;
	top: -30px;
    z-index: 99999;
}

@media screen and (max-width:1001px) {
#pop-cont
{
}
    .main-header {
        margin-top: 20px;
        padding-left: 0;
    }

    .popup-inner-container {
        top: 50px;
    }
}


@media screen and (max-width:991px) {

    #popup-close {
        right: 15px;
    }
}

@media screen and (max-height:785px){

    .popup-container{
        overflow:auto;
    }

}
/*///  End Of Popup Style    ///*/