@font-face {
    font-family : "amiri";
    src         : url("/fonts/binarystocks/amiri-boldslanted-webfont.eot");
    src         : url("/fonts/binarystocks/amiri-boldslanted-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/binarystocks/amiri-boldslanted-webfont.woff2") format("woff2"), url("/fonts/binarystocks/amiri-boldslanted-webfont.woff") format("woff"), url("/fonts/binarystocks/amiri-boldslanted-webfont.svg#amiribold_slanted") format("svg");
    font-weight : bold;
    font-style  : normal;
}

@font-face {
    font-family : "amiri";
    src         : url("/fonts/binarystocks/amiri-slanted-webfont.eot");
    src         : url("/fonts/binarystocks/amiri-slanted-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/binarystocks/amiri-slanted-webfont.woff2") format("woff2"), url("/fonts/binarystocks/amiri-slanted-webfont.woff") format("woff"), url("/fonts/binarystocks/amiri-slanted-webfont.svg#amirislanted") format("svg");
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : "hind_vadodara";
    src         : url("/fonts/binarystocks/hindvadodara-bold-webfont.eot");
    src         : url("/fonts/binarystocks/hindvadodara-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/binarystocks/hindvadodara-bold-webfont.woff2") format("woff2"), url("/fonts/binarystocks/hindvadodara-bold-webfont.woff") format("woff"), url("/fonts/binarystocks/hindvadodara-bold-webfont.svg#hind_vadodarabold") format("svg");
    font-weight : bold;
    font-style  : normal;
}

@font-face {
    font-family : "hind-vadodara-light";
    src         : url("/fonts/binarystocks/hindvadodara-light-webfont.eot");
    src         : url("/fonts/binarystocks/hindvadodara-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/binarystocks/hindvadodara-light-webfont.woff2") format("woff2"), url("/fonts/binarystocks/hindvadodara-light-webfont.woff") format("woff"), url("/fonts/binarystocks/hindvadodara-light-webfont.svg#hind_vadodaralight") format("svg");
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : "hind_vadodara";
    src         : url("/fonts/binarystocks/hindvadodara-regular-webfont.eot");
    src         : url("/fonts/binarystocks/hindvadodara-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/binarystocks/hindvadodara-regular-webfont.woff2") format("woff2"), url("/fonts/binarystocks/hindvadodara-regular-webfont.woff") format("woff"), url("/fonts/binarystocks/hindvadodara-regular-webfont.svg#hind_vadodararegular") format("svg");
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : "hind-vadodara-medium";
    src         : url("/fonts/binarystocks/hindvadodara-medium-webfont.eot");
    src         : url("/fonts/binarystocks/hindvadodara-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/binarystocks/hindvadodara-medium-webfont.woff2") format("woff2"), url("/fonts/binarystocks/hindvadodara-medium-webfont.woff") format("woff"), url("/fonts/binarystocks/hindvadodara-medium-webfont.svg#hind_vadodaramedium") format("svg");
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : "amiribold";
    src         : url("/fonts/binarystocks/amiri-bold-webfont.eot");
    src         : url("/fonts/binarystocks/amiri-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/binarystocks/amiri-bold-webfont.woff2") format("woff2"), url("/fonts/binarystocks/amiri-bold-webfont.woff") format("woff"), url("/fonts/binarystocks/amiri-bold-webfont.svg#amiribold") format("svg");
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : "amiriregular";
    src         : url("/fonts/binarystocks/amiri-regular-webfont.eot");
    src         : url("/fonts/binarystocks/amiri-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/binarystocks/amiri-regular-webfont.woff2") format("woff2"), url("/fonts/binarystocks/amiri-regular-webfont.woff") format("woff"), url("/fonts/binarystocks/amiri-regular-webfont.svg#amiriregular") format("svg");
    font-weight : normal;
    font-style  : normal;
}

a:focus {
    outline : none;
}

.clearfix:after {
    content : "";
    display : block;
    clear   : both;
}

.ellipsis {
    white-space   : nowrap; /* 1 */
    text-overflow : ellipsis; /* 2 */
    overflow      : hidden;
}

.contact-form input {
    border        : none;
    height        : 50px;
    width         : 100%;
    line-height   : 50px;
    padding       : 0 11px;
    color         : #fcf5db !important;
    background    : #001e47;
    border-radius : 5px;
}

.form-control {
    background : #001e47;
    color      : #fcf5db !important;
}

a {
    color : #444444;
}

a:hover {
    color : #000000;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
    border  : none;
    outline : none;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color : #fcf5db;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
    opacity : 1;
    color   : #fcf5db;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
    color : #fcf5db;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color : #fcf5db;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
    color : #fcf5db;
}

.phone-row {
    overflow : hidden;
}

.phone-row input {
    overflow : hidden;
    width    : 222px;
}

.phone-row input:first-child {
    width        : 52px;
    float        : left;
    margin-right : 11px;
}

.mac.chrome .btn-arrow em {
    margin-top : -6px;
}

.btn-arrow {
    -webkit-appearance      : none;
    outline                 : none;
    position                : relative;
    overflow                : hidden;
    display                 : -webkit-box;
    display                 : -webkit-flex;
    display                 : -ms-flexbox;
    display                 : flex;
    -webkit-box-orient      : vertical;
    -webkit-box-direction   : normal;
    -webkit-flex-direction  : column;
    -ms-flex-direction      : column;
    flex-direction          : column;
    -webkit-box-align       : center;
    -webkit-align-items     : center;
    -ms-flex-align          : center;
    align-items             : center;
    -webkit-box-pack        : center;
    -webkit-justify-content : center;
    -ms-flex-pack           : center;
    justify-content         : center;
    width                   : 100%;
    text-transform          : capitalize;
    font-family             : "amiri";
    font-weight             : bold;
    color                   : #ffffff;
    text-align              : left;
    height                  : 50px;
    font-size               : 33px;
    line-height             : 50px;
    padding                 : 0 49px 0 14px;
    letter-spacing          : -.1px;
    background              : #a3df00; /* Old browsers */ /* FF3.6-15 */
    background              : -webkit-linear-gradient(top, #a3df00 0%, #a3df00 11%, #8cd300 28%, #5cbb01 51%, #35a702 66%, #169703 81%, #0d9303 87%, #0d9303 100%); /* Chrome10-25,Safari5.1-6 */
    background              : linear-gradient(to bottom, #a3df00 0%, #a3df00 11%, #8cd300 28%, #5cbb01 51%, #35a702 66%, #169703 81%, #0d9303 87%, #0d9303 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow              : inset 0 2px 8px #30ff00;
    text-shadow             : rgba(0, 0, 0, .3) 3px 3px 3px, #114900 1px 0, #114900 1px 1px, #114900 0 1px, #114900 -1px 1px, #114900 -1px 0, #114900 -1px -1px, #114900 0 -1px, #114900 1px -1px;
    max-width               : 286px;
    border-radius           : 5px;
    border                  : 1px solid #629a00;
}

.btn-arrow em {
    display        : inline-block;
    vertical-align : top;
    line-height    : 38px;
}

.btn-arrow span {
    position      : absolute;
    top           : 0;
    right         : 0;
    bottom        : 0;
    width         : 49px;
    display       : block;
    background    : #7d0301; /* Old browsers */ /* FF3.6-15 */
    background    : -webkit-linear-gradient(top, #7d0301 0%, #7d0301 32%, #830501 40%, #970c01 57%, #c41c00 85%, #d82400 100%); /* Chrome10-25,Safari5.1-6 */
    background    : linear-gradient(to bottom, #7d0301 0%, #7d0301 32%, #830501 40%, #970c01 57%, #c41c00 85%, #d82400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding       : 7px 0 0 11px;
    border-radius : 0 4px 4px 0;
}

.btn-arrow span img {
    vertical-align : top;
}

.btn-arrow:after {
    content    : " ";
    clear      : both;
    display    : block;
    position   : absolute;
    top        : 0;
    left       : 0;
    right      : 0;
    height     : 18px; /* FF3.6-15 */
    background : -webkit-linear-gradient(top, rgba(226, 226, 226, .45) 0%, rgba(226, 226, 226, .09) 76%, rgba(226, 226, 226, .01) 100%); /* Chrome10-25,Safari5.1-6 */
    background : linear-gradient(to bottom, rgba(226, 226, 226, .45) 0%, rgba(226, 226, 226, .09) 76%, rgba(226, 226, 226, .01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-arrow.focus span,
.btn-arrow:focus span,
.btn-arrow:hover span {
    background : #ff1700; /* Old browsers */ /* FF3.6-15 */
    background : -webkit-linear-gradient(top, #ff1700 0%, #ff2500 19%, #fd2a00 37%, #e21200 74%, #df0b00 86%, #e50600 100%); /* Chrome10-25,Safari5.1-6 */
    background : linear-gradient(to bottom, #ff1700 0%, #ff2500 19%, #fd2a00 37%, #e21200 74%, #df0b00 86%, #e50600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-arrow:active:hover,
.btn-arrow:active {
    background : #c1ff00; /* Old browsers */ /* FF3.6-15 */
    background : -webkit-linear-gradient(top, #c1ff00 0%, #bbff00 5%, #b7ff00 15%, #97ff00 33%, #68ff00 53%, #32ff00 71%, #16ff00 84%, #12ff00 87%, #14ff00 94%, #29ff00 100%); /* Chrome10-25,Safari5.1-6 */
    background : linear-gradient(to bottom, #c1ff00 0%, #bbff00 5%, #b7ff00 15%, #97ff00 33%, #68ff00 53%, #32ff00 71%, #16ff00 84%, #12ff00 87%, #14ff00 94%, #29ff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.jumbotron {
    background : #000000;
    border     : 1px solid #ffffff;
}

.well,
.list-group,
.panel-body,
.breadcrumb a,
.pagination > li > a,
.pagination > li > span,
.pager a {
    color : #555555;
}

body {
    background : url(/img/binarystocks/bg.jpg) repeat-y 50% 0;
}

#wrapper {
    overflow        : hidden;
    min-width       : 320px;
    background      : url(/img/binarystocks/bg-img.jpg) no-repeat 50% 0;
    background-size : cover;
}

#header {
    text-align : center;
    padding    : 15px 0 0;
}

.logo {
    display  : inline-block;
    position : relative;
    z-index  : 5;
}

.logo img {
    display        : block;
    vertical-align : top;
}

#main {
    position : relative;
}

.bg {
    position   : absolute;
    top        : -47px;
    left       : 0;
    height     : 945px;
    width      : 100%;
    text-align : center;
}

.bg img {
    vertical-align : top;
    width          : 100%;
    height         : auto;
    max-width      : 100%;
}

h1 {
    font-size      : 52px;
    line-height    : 55px;
    color          : #001e47;
    margin         : 33px 23px 18px 23px;
    text-transform : capitalize;
    font-family    : "hind-vadodara-medium";
    font-weight    : normal;
    letter-spacing : -.8px;
    background     : url(/img/binarystocks/selector01.png) no-repeat 50% 100%;
    padding-bottom : 33px;
    text-align     : center;
}

h1 span {
    font-size   : 32px;
    line-height : 35px;
    font-weight : normal;
    display     : block;
    text-align  : center;
    font-family : "hind-vadodara-light";
}

h1 mark {
    color       : #007435;
    font-size   : 60px;
    line-height : 65px;
    background  : none;
    padding     : 0;
    font-family : "amiri";
    font-weight : bold;
    font-style  : italic;
    display     : block;
}

.mobile-visual {
    display : none;
}

.contact-form {
    width      : 641px;
    margin     : 0 auto;
    padding    : 0 23px 89px;
    color      : #001e47;
    position   : relative;
    background : url(/img/binarystocks/form-shadow.png) no-repeat 0 100%;
}

.contact-form .form-hold {
    overflow : hidden;
}

.contact-form .form-hold .form-col {
    width : 285px;
    float : left;
}

.contact-form .form-hold .form-col + .form-col {
    margin-left : 24px;
}

.contact-form .form-group {
    margin-bottom : 10px;
}

.contact-form p {
    font-size   : 20px;
    line-height : 26px;
    margin      : 0 -22px 6px;
    text-align  : center;
}

.contact-form p span {
    text-transform : uppercase;
    font-family    : "amiribold";
    font-size      : 26px;
}

.info-box {
    margin-bottom : 10px; /* FF3.6-15 */
    background    : -webkit-linear-gradient(-45deg, rgba(0, 109, 43, .68) 0%, rgba(0, 104, 41, .72) 15%, rgba(0, 88, 33, .96) 63%, rgba(2, 87, 29, .98) 67%, #055618 73%, #135000 100%); /* Chrome10-25,Safari5.1-6 */
    background    : -webkit-linear-gradient(315deg, rgba(0, 109, 43, .68) 0%, rgba(0, 104, 41, .72) 15%, rgba(0, 88, 33, .96) 63%, rgba(2, 87, 29, .98) 67%, #055618 73%, #135000 100%);
    background    : linear-gradient(135deg, rgba(0, 109, 43, .68) 0%, rgba(0, 104, 41, .72) 15%, rgba(0, 88, 33, .96) 63%, rgba(2, 87, 29, .98) 67%, #055618 73%, #135000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border        : 2px solid #007435;
    border-radius : 14px;
    padding       : 17px 16px;
    font-size     : 17px;
    line-height   : 21px;
    text-align    : justify;
    position      : relative;
    z-index       : 3;
    box-shadow    : 0 11px 43px 0 rgba(0, 0, 0, .44);
    color         : #ffffff;
}

.info-box h3 {
    margin      : 0 0 14px;
    font-size   : 30px;
    line-height : 33px;
    text-align  : center;
    font-family : "amiri";
    color       : #ffffff;
    text-shadow : rgba(0, 0, 0, .3) 3px 3px 3px, #114900 1px 0, #114900 1px 1px, #114900 0 1px, #114900 -1px 1px, #114900 -1px 0, #114900 -1px -1px, #114900 0 -1px, #114900 1px -1px;
}

.box-shadow {
    z-index    : 1;
    position   : absolute;
    bottom     : -5px;
    right      : -23px;
    width      : 216px;
    height     : 46px; /* FF3.6-15 */
    background : -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, .65) 0%, transparent 72%, transparent 76%); /* Chrome10-25,Safari5.1-6 */
    background : -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, .65) 0%, transparent 72%, transparent 76%);
    background : radial-gradient(ellipse at center, rgba(0, 0, 0, .65) 0%, transparent 72%, transparent 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.red-box {
    /* FF3.6-15 */
    background : -webkit-linear-gradient(-45deg, rgba(173, 4, 1, .67) 0%, rgba(171, 4, 1, .67) 10%, rgba(168, 4, 1, .71) 22%, rgba(143, 3, 1, .91) 60%, rgba(131, 2, 1, .99) 79%, rgba(131, 2, 1, .99) 80%, #810201 100%); /* Chrome10-25,Safari5.1-6 */
    background : -webkit-linear-gradient(315deg, rgba(173, 4, 1, .67) 0%, rgba(171, 4, 1, .67) 10%, rgba(168, 4, 1, .71) 22%, rgba(143, 3, 1, .91) 60%, rgba(131, 2, 1, .99) 79%, rgba(131, 2, 1, .99) 80%, #810201 100%);
    background : linear-gradient(135deg, rgba(173, 4, 1, .67) 0%, rgba(171, 4, 1, .67) 10%, rgba(168, 4, 1, .71) 22%, rgba(143, 3, 1, .91) 60%, rgba(131, 2, 1, .99) 79%, rgba(131, 2, 1, .99) 80%, #810201 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border     : 2px solid #500000;
}

.red-box h3 {
    text-shadow : rgba(0, 0, 0, .3) 3px 3px 3px, #500000 1px 0, #500000 1px 1px, #500000 0 1px, #500000 -1px 1px, #500000 -1px 0, #500000 -1px -1px, #500000 0 -1px, #500000 1px -1px;
}

.blue-box {
    /* FF3.6-15 */
    background : -webkit-linear-gradient(-45deg, rgba(8, 43, 96, .67) 0%, rgba(8, 42, 95, .67) 9%, rgba(7, 41, 94, .72) 23%, rgba(7, 41, 94, .74) 26%, rgba(3, 34, 89, .91) 60%, rgba(0, 31, 86, .98) 77%, rgba(0, 30, 86, .99) 80%, #001e56 82%, #001e56 100%); /* Chrome10-25,Safari5.1-6 */
    background : -webkit-linear-gradient(315deg, rgba(8, 43, 96, .67) 0%, rgba(8, 42, 95, .67) 9%, rgba(7, 41, 94, .72) 23%, rgba(7, 41, 94, .74) 26%, rgba(3, 34, 89, .91) 60%, rgba(0, 31, 86, .98) 77%, rgba(0, 30, 86, .99) 80%, #001e56 82%, #001e56 100%);
    background : linear-gradient(135deg, rgba(8, 43, 96, .67) 0%, rgba(8, 42, 95, .67) 9%, rgba(7, 41, 94, .72) 23%, rgba(7, 41, 94, .74) 26%, rgba(3, 34, 89, .91) 60%, rgba(0, 31, 86, .98) 77%, rgba(0, 30, 86, .99) 80%, #001e56 82%, #001e56 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border     : 2px solid #01285f;
}

.blue-box h3 {
    text-shadow : rgba(0, 0, 0, .3) 3px 3px 3px, #01285f 1px 0, #01285f 1px 1px, #01285f 0 1px, #01285f -1px 1px, #01285f -1px 0, #01285f -1px -1px, #01285f 0 -1px, #01285f 1px -1px;
}

.yellow-box {
    /* FF3.6-15 */
    background : -webkit-linear-gradient(-45deg, rgba(240, 199, 1, .67) 0%, rgba(240, 198, 2, .67) 8%, rgba(240, 197, 4, .72) 24%, rgba(239, 195, 9, .9) 56%, rgba(238, 193, 12, .98) 76%, rgba(238, 193, 13, .99) 79%, #eec10d 82%, #eec10d 100%); /* Chrome10-25,Safari5.1-6 */
    background : -webkit-linear-gradient(315deg, rgba(240, 199, 1, .67) 0%, rgba(240, 198, 2, .67) 8%, rgba(240, 197, 4, .72) 24%, rgba(239, 195, 9, .9) 56%, rgba(238, 193, 12, .98) 76%, rgba(238, 193, 13, .99) 79%, #eec10d 82%, #eec10d 100%);
    background : linear-gradient(135deg, rgba(240, 199, 1, .67) 0%, rgba(240, 198, 2, .67) 8%, rgba(240, 197, 4, .72) 24%, rgba(239, 195, 9, .9) 56%, rgba(238, 193, 12, .98) 76%, rgba(238, 193, 13, .99) 79%, #eec10d 82%, #eec10d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border     : 2px solid #d69100;
    color      : #0e0b05;
}

.yellow-box h3 {
    color       : #0e0b05;
    text-shadow : rgba(0, 0, 0, .3) 3px 3px 3px, #d69100 1px 0, #d69100 1px 1px, #d69100 0 1px, #d69100 -1px 1px, #d69100 -1px 0, #d69100 -1px -1px, #d69100 0 -1px, #d69100 1px -1px;
}

.visual {
    padding-left  : 18px;
    margin-bottom : 35px;
}

.pay-list {
    margin      : 63px 0 0;
    padding     : 0;
    text-align  : center;
    font-size   : 0;
    line-height : 0;
}

.pay-list li {
    list-style     : none;
    display        : inline-block;
    vertical-align : top;
    margin         : 0 3px;
}

.pay-list a {
    border-radius : 5px;
    display       : block;
    overflow      : hidden;
}

#footer {
    padding-top    : 21px;
    padding-bottom : 26px;
    color          : #756e5a;
    font-size      : 11px;
    line-height    : 15px;
    text-align     : center;
}

#footer dl {
    margin-left : 28px;
}

#footer dt {
    font-weight : normal;
}

@media (max-width : 1327px) {
    .mobile-visual {
        display : block;
        width   : 303px;
        margin  : 0 auto -11px;
    }

    .mobile-visual img {
        width  : 500px;
        height : auto;
    }

    .contact-form {
        padding-bottom : 30px;
    }

    .info-box h3 {
        font-size   : 22px;
        line-height : 25px;
    }

    .visual {
        display : none;
    }
}

@media (max-width : 1023px) {
    .info-box {
        margin-bottom : 20px;
    }

    .box-shadow {
        bottom : -12px;
    }
}

@media (max-width : 767px) {
    .container {
        padding-left  : 16px;
        padding-right : 16px;
    }

    .contact-form input {
        height      : 41px;
        line-height : 41px;
        font-size   : 14px;
        color       : #fcf5db !important;
    }

    .btn-arrow {
        height      : 47px;
        line-height : 47px;
        margin-top  : 26px;
    }

    .btn-arrow span {
        padding : 7px 0 0 13px;
    }

    .btn-arrow span img {
        width  : 30px;
        height : auto;
    }

    #wrapper {
        background-size     : auto;
        background-position : 50% 0;
    }

    #header {
        height      : 50px;
        padding-top : 3px;
    }

    .logo {
        width  : 88px;
        height : 43px;
    }

    .logo img {
        width  : 100%;
        height : auto;
    }

    .bg {
        top : -5px;
    }

    h1 {
        font-size   : 26px;
        line-height : 28px;
        text-align  : center;
        padding     : 0;
        margin      : 0 -7px -5px;
        background  : none;
    }

    h1 span {
        font-size   : 16px;
        line-height : 23px;
        display     : block;
    }

    h1 mark {
        font-size     : 30px;
        line-height   : 33px;
        margin-bottom : -3px;
    }

    .contact-form {
        margin     : 0 auto;
        width      : 286px;
        padding    : 0 0 30px;
        background : none;
    }

    .contact-form .form-hold .form-col {
        float : none;
        width : 100%;
    }

    .contact-form .form-hold .form-col + .form-col {
        margin-left : 0;
    }

    .contact-form .form-group {
        margin-bottom : 17px;
    }

    .contact-form p {
        font-size   : 18px;
        margin      : 0 -4px 6px;
        font-weight : bold;
    }

    .contact-form .btn-arrow {
        margin : 0;
    }

    .info-box {
        margin-bottom : 15px;
    }

    .info-box h3 {
        margin-bottom : 27px;
        font-size     : 30px;
        line-height   : 33px;
    }

    .pay-list {
        margin-top : 35px;
    }

    .pay-list li {
        width : 40px;
    }

    .pay-list li img {
        width  : 100%;
        height : auto;
    }

    #footer dl {
        margin : 0;
    }

    #footer .row {
        margin : 0;
    }
}

label.error {
    display : none !important;
}

input.error {
    border : 3px red solid;
}

.g-recaptcha {
    margin-top : 10px;
    text-align : center;
    float      : right;
}

/*stroke the privacy link*/
#footer a {
    color           : black;
    text-decoration : underline;
}