/*MEDIA QUERY*/

/*BIGGER THEN 1300px*/
@media (min-width: 1301px ) {
  img.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10.text-center,
  .logotag.tweet-2.col-md-6.col-sm-12.col-xm-6 {
    .none;
  }

  .col-lg-6.col-md-6.col-sm-6.col-xs-6.field:nth-of-type(1) {
    padding-right: 1.5px;
  }

  .col-lg-6.col-md-6.col-sm-6.col-xs-6.field:nth-of-type(2) {
    padding-left: 1.5px;
  }
}

/*BETWEEN 1300PX TO 1000PX */
@media (min-width: 990px) and (max-width: 1300px) {

  img.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10.text-center,
  .logotag.tweet-2.col-md-6.col-sm-12.col-xm-6 {
    .none;
  }

  #works-fixed {
    .none;
  }

  .col-lg-6.col-md-6.col-sm-6.col-xs-6.field:nth-of-type(1) {
    padding-right: 1.5px;
  }

  .col-lg-6.col-md-6.col-sm-6.col-xs-6.field:nth-of-type(2) {
    padding-left: 1.5px;
  }
}

/*BETWEEN 1215PX TO  MAX WIDTH 995PX */
@media (min-width: 995px) and (max-width: 1215px) {

  body #wrapper main section .form-first p:nth-of-type(2) {
    font-size: inherit;
    padding: 0;
    text-align: center;
  }

  div.feed_name1, div.feed_name2 {
    min-height: 200px;
  }
}

@media (max-width: 1000px) {
  input[type="text"] {
    width: 300px;
  }

}

@media (min-width: 990px) and (max-width: 1200px) {
  input#email,
  input#password,
  input#FirstName,
  input#LastName,
  input#phone,
  input#prefix {
    height: 3.8em;
  }

  input[type=submit] {
    height: 100.8px !important;
    box-shadow: none;
  }
}

.form-first {
  @media (max-width: 1199px) {
    width: 100% !important;
    margin-left: 0;
  }
  p:nth-of-type(2) {
    @media (max-width: 1199px) {
      font-size: 40px !important;
    }

  }
}

div#video_part {
  @media (max-width: 1200px) {

    width: 100%;
  }
}

body #wrapper main section .form-first input.submit-aussie {
  @media (max-width: 1200px) {
    background: url('/img/aussie-new/buttonfree_mobile.png') no-repeat top center;
    background-size: contain;
    height: 252px !important;
  }
}

  @media (max-width: 640px) {
    left: 17.2%;
    width: 67%;
    top: 10.9em;
  }
  @media (max-width: 600px) {
    top: 8.9em;

  }

img.pull-left {
  @media (max-width: 768px) {
    .none;
  }
  @media (min-width: 769px) and (max-width: 990px) {
    width: 3.7%;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  div#tweets-tab {
    margin-top: 0.5em;
  }
}

@media (min-width: 641px) and (max-width: 990px) {
  .logotag.tweet-2.col-md-6.col-sm-12.col-xm-6{
    .block;
    margin: 1.5em 0;
  }
}

/*MIN WIDTH 641PX MAX WIDTH 990PX*/
@media (min-width: 641px) and (max-width: 993px) {

  body #wrapper main section .form-first input {
    margin: 1em 0 !important;
  }

  #works-fixed,
  .tweeter,
  img.col-sm-offset-3.col-sm-4.col-xs-offset-1.col-xs-4.col-md-5 {
    .none;
  }

  input {
    .block !important;
  }

  ul li {
    border-bottom: 1px solid white;
  }

  .container ul.row {
    padding: 0;
  }

  body #wrapper main section .form-first input {
    height: 212px;
  }

  body #wrapper main section .g-first input[type=submit] {
    background: url('@{directory}aussie-new/buttonfree_mobile.png') no-repeat center;
    margin: 1em 0;
    .bs;
  }

  input[type="submit"] {
    height: 198px;
  }

  #wrapper main section .form-first input.submit-aussie {
    height: 193px;

  }

  .form-control {
    box-shadow: none;
  }
}

/*MAX WIDTH 640px*/
@media (min-width: 600px) and (max-width: 640px) {

  #works-fixed,
  .tweeter,
  img.col-sm-offset-3.col-sm-4.col-xs-offset-1.col-xs-4.col-md-5 {
    .none;
  }

  ul.row {
    padding: 0;
  }

  ul li {
    border-bottom: 1px solid white;
  }

  header h2 {
    font-size: 1.2em;
  }

  body #wrapper main section .form-first input {
    height: 212px;
    margin: 1em 0 !important;
  }

  body #wrapper main section .form-first p:nth-of-type(2) {
    text-align: center;
  }

  .feed_name1 img, .feed_name2 img {
    height: 100%;
  }

  //span.ctime1 {
  //  left: 83px !important;
  //}

  .logotag.tweet-2.col-md-6.col-sm-12.col-xm-6 {
    .block;
  }

  .form-control {
    box-shadow: none;
  }
}

/*MIN WIDTH 578PX MAX 599PX*/
@media (min-width: 578px) and (max-width: 599px) {


  .logotag.tweet-2.col-md-6.col-sm-12.col-xm-6 {
    .block;
  }

  body #wrapper main section .form-first input {
    margin: 1em 0 !important;
  }

  .feed_name1 img, .feed_name2 img {
    height: 100%;
  }

  body #wrapper main section .form-first p:nth-of-type(2) {
    text-align: center;
  }

  //span.ctime1 {
  //  position: relative;
  //  left: 82px !important;
  //}

  #works-fixed,
  .tweeter,
  .logotag.tweet-2.col-md-6.col-sm-12.col-xm-6 {
    .none;
  }

  section#live-third-party {
    .section-live;
  }

  .logotag.tweet-2.col-md-6.col-sm-12.col-xm-6 {
    .block;
  }
}

/*MIN WIDTH 500 MAX 577PX*/
@media (min-width: 500px) and (max-width: 577px) {


  body #wrapper main section .form-first input {
    margin: 1em 0 !important;
  }

  body #wrapper main section .form-first p:nth-of-type(2) {
    text-align: center;
  }

  .feed_name1 img, .feed_name2 img {
    height: 100%;
  }

  body #wrapper main section .form-first input.submit-aussie {
    height: 135px !important;
  }

  //span.ctime1 {
  //  position: relative;
  //  left: 82px !important;
  //  bottom: 1em;
  //}

  #works-fixed,
  .tweeter{
    .none;
  }

  section#live-third-party {
    .section-live;
  }
}

/*MIN WIDTH 454 MAX 499PX*/
@media (min-width: 454px) and (max-width: 499px) {


  body #wrapper main section .form-first input {
    margin: 1em 0 !important;
  }

  body #wrapper main section .form-first p:nth-of-type(2) {
    text-align: center;
  }

  .feed_name1 img, .feed_name2 img {
    height: 100%;
  }

  //.ctime1 {
  //  position: relative;
  //  left: 6em;
  //  bottom: 2.4em;
  //}

  input[type=submit] {
    height: 118px;
  }

  #works-fixed,
  .tweeter{
    .none;
  }

  section#live-third-party {
    .section-live;
  }
}

/*MIN WIDTH 430 MAX 453PX*/
@media (min-width: 430px) and (max-width: 453px) {


  body #wrapper main section .form-first p:nth-of-type(2) {
    text-align: center;
  }

  .feed_name1 img, .feed_name2 img {
    height: 100%;
  }

  body #wrapper main section .form-first input {
    margin: 1em 0 !important;
  }

  //.ctime1 {
  //  position: relative;
  //  left: 6em;
  //  bottom: 2.4em;
  //}

  #works-fixed,
  .tweeter{
    .none;
  }

  section#live-third-party {
    .section-live;
  }
}

/*MIN WIDTH 400 MAX 429PX*/
@media (min-width: 400px) and (max-width: 429px) {

  //span.ctime1 {
  //  position: relative;
  //  left: 81px !important;
  //  bottom: 1em;
  //}

  #works-fixed,
  .tweeter{
    .none;
  }

  section#live-third-party {
    .section-live;
  }

  body #wrapper main section .form-first p:nth-of-type(2) {
    text-align: center;
  }

  body #wrapper main section .form-first input {
    margin: 1em 0 !important;
  }
}

/*MIN WIDTH 100 AND MAX WIDTH 399PX*/
@media (min-width: 100px) and (max-width: 399px) {



  section#live-third-party {
    .section-live;
  }
  #works-fixed,
  .tweeter  {
    .none;
  }

  body #wrapper main section .form-first p:nth-of-type(2) {
    text-align: center;
  }
}

section#live-third-party .row {
  margin: 2em 0;
}

/*MOBILE BUTTON PIC */
@media (max-width: 920px) {
  body #wrapper main section .g-first input[type=submit] {
    .backPic_mobile
  }
}



@media (max-width: 990px) {
  h4.tweets-title.capitalize {
    .none;
  }
  .tweets-title-2{
    .block;

  }

}
@media (min-width: 991px) {
  h4.tweets-title-2.capitalize{
    .none;
  }
  h4.tweets-title.capitalize {
    .block;
  }


}