@import "direction.less";
@import "font-awesome/min";
@import "bootstrap/variables";
@import "bootstrap/bootstrap";
@import "_helpers";

@directory: "/img/";
// ======= aussie-new:

/*=================================MIXING CLASSES================================ */
/*DISPLAY NONE*/
.none {
  display: none;
}

/*DISPLAY BLOCK*/
.block {
  display: block;
}

/*BACKGROUND SIZE 100%*/
.bs {
  background: 100%;
}
/*LIVE SECTION*/
.section-live{
  box-shadow: 1px 1px 31px 11.4px lightgray;
  width: 85.8%;
}

//MOBILEPIC
.backPic_mobile{
  background: url('@{directory}aussie-new/buttonfree_mobile.png') no-repeat center;
  .bs;
  margin: 1.5em 0;
}
/*=================================MIXING CLASSES================================ */

body {

  /*WRAPPER FOR ALL CONTENT*/
  #wrapper {
    //min-width: 400px;
    background: url('@{directory}aussie-new/mainbg.jpg') no-repeat;
    background-size: cover;

    /*H2 HEADER*/
    h2 {
      color: #1F3A79;
      font-size: 2.5em;
      font-family: 'Cabin', sans-serif;
      font-weight: bold;
    }

    /*FIXED LOGO "WORKS ANYWHERE"*/
    section#works-fixed {
      position: fixed;
      right: 0;
      z-index: 1;
      @media (max-width: 1300px) {
        display: none;
      }
    }

    /*NAV BAR STRIP*/
    section#top_strip {
      background: url('@{directory}aussie-new/top_strip_bg.png');
      height: 134px;
      position: absolute;
      top: -5px;
      left: 0;
      right: 0;
    }

    /*TOP HEADER*/
    > header {

      h2 {
        color: #1F3A79;
        font-size: 51.2px;
        font-family: 'Cabin', sans-serif;
      }

      div#company {
        padding-top: 22px;
      }
    }

    /*MAIN LAYOUT*/
    main {

      /*GENERAL SECTION*/
      section {
        margin: 1.5% auto;
        text-align: center;

        #video-how-method-works {

          .video-n-images {
            background: url('@{directory}aussie-new/ipad.png') no-repeat top center;
            .video-tag {
              position: absolute;
              top: 4.8em;
              left: 17.9%;
              width: 68%;
              height: 67%;
            }
          }
        }

        /*VIDEO PART*/
        #video_part video {
          border: 5px solid #1F3A79 !important;
        }
        /*FIRST FORM - LANDING PAGE*/
        .form-first {

          /*PARAGRAPH*/
          p {
            font-family: 'Cabin', sans-serif;

            /*FIRST ELEMENT IN PARAGRPAH*/
            &:nth-of-type(1) {
              font-size: 50px;
              color: #1e387b;
            }
            /*SECOND ELEMENT IN PARAGRAPH*/
            &:nth-of-type(2) {
              font-size: 25px;
              text-align: justify;
            }
          }

          /*INPUTS*/
          input {
            outline: none;
            width: 100%;
            background-size: 100%;
            border: none;
            height: 142px;

            /*SUBMIT BUTTON*/
            &.submit-aussie {
              background: url('@{directory}aussie-new/buttonfree.png') no-repeat top center;
              background-size: 100%;

              /*MOBILE VIEW*/
              @media (max-width: 990px) {
                background: url('@{directory}aussie-new/buttonfree_mobile.png') no-repeat top center;
                background-size: 100%;
                margin: 1em 0;
              }
            }

            /*MAIL TEXT INPUT*/
            &#firstPageSignUpMail {
              border: 3px solid #1F3A79;
              height: 52px;
              border-radius: 6px;
            }
          }
        }

        /*SECTION STRIP HREF*/
        &#strip_href {
          background-color: #1F3978;

          /*UL TAG*/
          ul {

            /*HREF TAG IN STRIP*/
            li {
              font-size: 1.4em;

              /*HREF TAG*/
              a {
                color: white;
                font-family: 'Cabin', sans-serif;
              }
            }

            list-style: none;
            line-height: 60px;
          }
        }

        /*FAQ*/
        #frequently-asked-questions {
          direction: ltr;
          /*HEADER */
          header {

            /*H2 TAG*/
            h2 {
              color: #1F3A79;
              font-size: 51.2px;
              font-family: 'Cabin', sans-serif;
            }
          }
        }

        /*LIVE RESULT PIC*/
        #live-result-pic {
          @media (max-width: 560px) {
            box-shadow: 1px 1px 31px 11.4px lightgray;
            width: 85.8%;
          }

          /*ROW INSIDE LIVE RESULT */
          div.row {
            #facebook-tab .feed_name1 span#curr_time_8 {
              float: left;
            }
            #tweets-tab .feed_name2 span#curr_time_8 {
              float: right;
            }
          }
        }

        /*SOCIAL TAG*/
        #social {

          /*LOGO*/
          .logotag {
            padding: 1.4em 0;
          }
        }
      }
    }
  }

  /*CONTAINER FLUID SET PADDING 0*/
  .container-fluid {
    padding: 0 !important;
  }
}

/*ANSWER TEXT*/
.answer-text {
  border: 1px dotted gray;
  background: white;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

/**/
section div img.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1 {
  left: 6% !important;
}

/*TWEETER AND FACEBOOK TAG (DIVS)*/
div.feed_name2, div.feed_name1 {
  border: 1px solid gray;
  padding: 4px;
  margin-bottom: 0em;
  text-align: left;
  background: white;
  min-height: 170px;
}

/*FOOTER ROW*/
footer.row {
  background-color: #1F3A79;
  color: white;
  margin: 0;
  padding: 1em;
}

/*funncy BOX IFRAME */
a.fancybox_iframe {
  color: white;
  font-size: 11px;
}

/*LOGO TAG*/
.logotag {
  padding: 1.4em 0;
}

/*VIDEO TAG*/
div.video-n-images div.video-tag video {
  position: absolute;
  top: 6.1em;
  left: 16.2%;
  width: 68%;
  height: auto;
}

/*ON ERROR TEXT COLOR RED*/
.error {
  color: red;
}

/*BACK TO TOP ICON*/
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  font-size: 50px;
  padding-top: 10px;
  font-weight: bolder;
}

/*BACK TO TOP ICON ON OVER*/
#back-to-top:hover {
  background: #e9ebec;
}

/*BACK TO TOP SHOW */
#back-to-top.show {
  opacity: 1;
}

/*CONTENT TAG */
#content {
  height: 2000px;
}

/*QUESTION P STYLE*/
.title-question {
  color: #1E3977;
  font-weight: bold;
  .margin(0, 0, 10px, 10px);
  user-select: none;
}

/*SOCIAL TAG */
body .social {
  box-shadow: -1px 3px 25px 8px #D3D3D1;
  background: #F0F0F0;
  padding-bottom: 2em;
  left: 4%;
}

/*FACEBOOK LIKE*/
.facebook-tab {
  color: gray;
}

/*TIME OF THE TWEETER MESSAGE*/
.ctime2 {
  float: right;
}

/*TIME OF THE FACEBOOK MESSAGE */
.ctime1 {
  position: relative;
  left: 2.4em;
  bottom: 1em;
}

/*FACEBOOK TITLE*/
.fbname {
  color: #1F3A79;
}

/*TWEETER TITLE*/
a.twtname {
  color: black;
}

/*TWEET TEXT*/
.twt-data {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 0 0.6em;
  height: 7.9em;
  text-align: justify;
}

/*TWEET IMAGE*/
img.twt-image {
  border-radius: 0.3em;
  vertical-align: top;
}

/*DIV OF THE FACEBOOK MESSAGE*/
.feed_name1 {
  min-height: 14.3em;
}

/*FACEBOOK DATA*/
.fb-data {
  margin-top: -0.6em;
}

/*BG-COLOR OF THE ODD TR*/
.table-striped > tbody > tr:nth-child(odd) {
  background-color: lightgray;
}

/*LIVE THIRD PARTY WRAPPER*/
section#live-third-party {
  box-shadow: 1px 1px 31px 11.4px lightgray;
}

/*TABLE THIRD PARTY VARIFIED RESULTS*/
.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
  background: none;
}

/*TABLE THIRD PARTY ON OVER*/
.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th {
  background-color: #94a3a8;
}

@import "_media-queries.less";