@font-face {
    font-family : "agatessk";
    src         : url("../../fonts/60seconds/agatessk-webfont.eot");
    src         : url("../../fonts/60seconds/agatessk-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/60seconds/agatessk-webfont.woff2") format("woff2"), url("../../fonts/60seconds/agatessk-webfont.woff") format("woff"), url("../../fonts/60seconds/agatessk-webfont.svg#agatesskregular") format("svg");
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : "raleway";
    src         : url("../../fonts/60seconds/raleway-regular-webfont.eot");
    src         : url("../../fonts/60seconds/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/60seconds/raleway-regular-webfont.woff2") format("woff2"), url("../../fonts/60seconds/raleway-regular-webfont.woff") format("woff"), url("../../fonts/60seconds/raleway-regular-webfont.svg#ralewayregular") format("svg");
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : "raleway";
    src         : url("../../fonts/60seconds/raleway-bold-webfont.eot");
    src         : url("../../fonts/60seconds/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/60seconds/raleway-bold-webfont.woff2") format("woff2"), url("../../fonts/60seconds/raleway-bold-webfont.woff") format("woff"), url("../../fonts/60seconds/raleway-bold-webfont.svg#ralewaybold") format("svg");
    font-weight : bold;
    font-style  : normal;
}

a:hover,
a:focus {
    color : #000000;
}

.clearfix:after {
    content : "";
    display : block;
    clear   : both;
}

.ellipsis {
    white-space   : nowrap; /* 1 */
    text-overflow : ellipsis; /* 2 */
    overflow      : hidden;
}

input {
    border      : none;
    height      : 50px;
    width       : 100%;
    font-size   : 16px;
    line-height : 50px;
    padding     : 0 11px;
    color       : #585858;
}

a:focus,
button,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
textarea:focus {
    outline : none;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color : #585858;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
    opacity : 1;
    color   : #585858;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
    color : #585858;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color : #585858;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
    color : #585858;
}

.nav-justified a:hover {
    color : #000000;
}

.col-xs-12 {
    padding : 0 28px;
}

.phone-row {
    overflow : hidden;
}

.phone-row input {
    overflow : hidden;
    /*width: 222px;*/
    width    : 239px;
}

.phone-row input:first-child {
    width        : 52px;
    float        : left;
    margin-right : 11px;
}

.btn-arrow {
    text-transform : uppercase;
    font-family    : "agatessk";
    letter-spacing : 1.3px;
    color          : #ffffff;
    font-style     : italic;
    border-radius  : 0;
    border         : 1px solid #ff0012;
    display        : block;
    width          : 100%;
    text-align     : left;
    position       : relative;
    height         : 57px;
    font-size      : 26px;
    line-height    : 57px;
    background     : #5a0604; /* Old browsers */ /* FF3.6-15 */
    background     : -webkit-linear-gradient(top, #5a0604 0%, #5a0604 13%, #630604 21%, #950402 50%, #c30201 70%, #d70100 80%, #e00100 88%, #e00100 100%); /* Chrome10-25,Safari5.1-6 */
    background     : linear-gradient(to bottom, #5a0604 0%, #5a0604 13%, #630604 21%, #950402 50%, #c30201 70%, #d70100 80%, #e00100 88%, #e00100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow     : inset 0 2px 8px #ff0000;
    max-width      : 286px;
    padding        : 0 10px;
    margin         : 0 auto;
    text-shadow    : #710200 2px 0, #710200 2px 2px, #710200 0 2px, #710200 -2px 2px, #295b01 -2px 0, #710200 -2px -2px, #710200 0 -2px, #710200 2px -2px;
}

.btn-arrow span {
    position   : absolute;
    top        : 0;
    right      : 0;
    bottom     : 0;
    width      : 51px;
    display    : block;
    background : #290100; /* Old browsers */ /* FF3.6-15 */
    background : -webkit-linear-gradient(top, #290100 0%, #2c0100 39%, #3b0100 59%, #620100 100%); /* Chrome10-25,Safari5.1-6 */
    background : linear-gradient(to bottom, #290100 0%, #2c0100 39%, #3b0100 59%, #620100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding    : 0 0 0 13px;
}

.btn-arrow:after {
    content    : " ";
    clear      : both;
    display    : block;
    position   : absolute;
    top        : 0;
    left       : 0;
    right      : 0;
    height     : 18px; /* FF3.6-15 */
    background : -webkit-linear-gradient(top, rgba(226, 226, 226, .45) 0%, rgba(226, 226, 226, .09) 76%, rgba(226, 226, 226, .01) 100%); /* Chrome10-25,Safari5.1-6 */
    background : linear-gradient(to bottom, rgba(226, 226, 226, .45) 0%, rgba(226, 226, 226, .09) 76%, rgba(226, 226, 226, .01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-arrow.focus,
.btn-arrow:focus,
.btn-arrow:hover {
    color           : #ffffff;
    background      : #e00100; /* Old browsers */ /* FF3.6-15 */
    background      : -webkit-linear-gradient(top, #e00100 0%, #e00100 13%, #d70100 20%, #c30201 30%, #950402 50%, #630604 79%, #5a0604 88%, #5a0604 100%); /* Chrome10-25,Safari5.1-6 */
    background      : linear-gradient(to bottom, #e00100 0%, #e00100 13%, #d70100 20%, #c30201 30%, #950402 50%, #630604 79%, #5a0604 88%, #5a0604 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow      : inset 0 -2px 8px #ff0000;
    border          : 1px solid #ff0012;
    text-decoration : none;
}

.btn-arrow:active:hover,
.btn-arrow:active {
    background : #e10100;
    color      : #ffffff;
    border     : 1px solid #e10100;
}

.btn-arrow:active:hover span,
.btn-arrow:active span {
    background : #ffc600; /* Old browsers */ /* FF3.6-15 */
    background : -webkit-linear-gradient(top, #ffc600 0%, #ffc600 31%, #ffc000 39%, #ffa900 57%, #ff7700 89%, #ff6a00 100%); /* Chrome10-25,Safari5.1-6 */
    background : linear-gradient(to bottom, #ffc600 0%, #ffc600 31%, #ffc000 39%, #ffa900 57%, #ff7700 89%, #ff6a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow : inset 0 0 24px #ffe400;
}

.jumbotron {
    background : #000000;
    border     : 1px solid #ffffff;
}

.well,
.list-group,
.panel-body,
.breadcrumb a,
.pagination > li > a,
.pagination > li > span,
.pager a {
    color : #555555;
}

#wrapper {
    overflow  : hidden;
    min-width : 320px;
}

#header {
    text-align : center;
    height     : 141px;
    padding    : 26px 0 0;
    background : url(../../img/60seconds/bg-header.jpg) repeat-x 50% 0;
}

.logo {
    display  : inline-block;
    position : relative;
    z-index  : 5;
}

.logo img {
    display        : block;
    vertical-align : top;
}

#main {
    position : relative;
}

.bg {
    position   : absolute;
    top        : -47px;
    left       : 0;
    height     : 945px;
    width      : 100%;
    text-align : center;
}

.bg img {
    vertical-align : top;
    width          : 100%;
    height         : auto;
    max-width      : 100%;
}

h1 {
    font-family    : "agatessk";
    font-size      : 48px;
    line-height    : 57px;
    text-transform : uppercase;
    color          : #ffffff;
    font-style     : italic;
    font-weight    : normal;
    margin         : 12px 0 10px -29px;
    position       : relative;
}

h1 span {
    font-size : 57px;
}

h1 mark {
    color       : #fb0100;
    font-size   : 70px;
    line-height : 70px;
    background  : none;
    padding     : 0;
}

h1 i {
    position : absolute;
    top      : 38px;
    right    : -88px;
}

h1 i img {
    vertical-align : top;
}

.contact-form {
    /*width: 285px;*/
    width         : 303px;
    margin-left   : -60px;
    margin-bottom : 25px;
}

.contact-form .form-group {
    margin-bottom : 10px;
}

.contact-form p.form_title {
    font-weight    : bold;
    font-size      : 18px;
    line-height    : 26px;
    text-align     : center;
    letter-spacing : -.2px;
}

.contact-form p.form_title mark {
    text-transform : uppercase;
    color          : #2dde00;
    background     : none;
    font-size      : 20px;
}

.info-box {
    margin-bottom : 92px;
}

.info-box .frame {
    margin-top : -55px;
    overflow   : hidden;
    position   : relative;
    padding    : 1px;
    background : red; /* Old browsers */ /* FF3.6-15 */
    background : -webkit-linear-gradient(top, red 0%, #ec0000 11%, #ca0000 26%, #5a0000 62%, #290000 79%, #130000 89%, #010000 100%); /* Chrome10-25,Safari5.1-6 */
    background : linear-gradient(to bottom, red 0%, #ec0000 11%, #ca0000 26%, #5a0000 62%, #290000 79%, #130000 89%, #010000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow : 0 0 35px rgba(255, 0, 0, .7);
}

.info-box .frame:before {
    position   : absolute;
    top        : 1px;
    left       : 1px;
    right      : 1px;
    bottom     : 1px;
    content    : " ";
    clear      : both;
    display    : block;
    background : #000000;
}

.info-box .frame:after {
    content           : " ";
    clear             : both;
    display           : block;
    position          : absolute;
    top               : 0;
    width             : 500px;
    right             : 112px;
    bottom            : 0;
    -webkit-transform : skew(-22deg);
    -ms-transform     : skew(-22deg);
    transform         : skew(-22deg); /* FF3.6-15 */
    background        : -webkit-linear-gradient(top, rgba(255, 255, 255, .14) 0%, rgba(255, 255, 255, .12) 35%, rgba(255, 255, 255, .01) 100%); /* Chrome10-25,Safari5.1-6 */
    background        : linear-gradient(to bottom, rgba(255, 255, 255, .14) 0%, rgba(255, 255, 255, .12) 35%, rgba(255, 255, 255, .01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.info-box .hold {
    position    : relative;
    z-index     : 3;
    text-align  : center;
    padding     : 37px 16px 28px;
    line-height : 22px;
}

.info-box .icon {
    position   : relative;
    z-index    : 5;
    text-align : center;
    min-height : 142px;
}

.info-box h3 {
    margin      : 0 0 14px;
    font-size   : 29px;
    line-height : 30px;
}

.pay-list {
    margin      : 78px 0 0;
    padding     : 0;
    text-align  : center;
    font-size   : 0;
    line-height : 0;
}

.pay-list li {
    list-style     : none;
    display        : inline-block;
    vertical-align : top;
    margin         : 0 3px;
}

.pay-list a {
    border-radius : 5px;
    border        : 1px solid #414141;
    display       : block;
    overflow      : hidden;
}

#footer {
    padding-top    : 26px;
    padding-bottom : 26px;
    color          : #878787;
    font-size      : 11px;
    line-height    : 15px;
}

#footer dl {
    margin-left  : 28px;
    margin-right : 28px;
}

#footer dt {
    font-weight : normal;
}

@media (max-width : 1023px) {
    .btn-arrow {
        margin-top : 26px;
    }

    h1 {
        margin-left : 0;
    }

    h1 i {
        right : 0;
    }

    .contact-form {
        margin : 0 auto;
    }

    .info-box {
        margin-bottom : 20px;
    }
}

@media (max-width : 767px) {
    .container {
        padding-left  : 16px;
        padding-right : 16px;
    }

    input {
        height      : 41px;
        line-height : 41px;
        color       : #585858;
    }

    .btn-arrow {
        height      : 47px;
        line-height : 47px;
    }

    .btn-arrow span {
        padding : 2px 0 0 13px;
    }

    .btn-arrow span img {
        width  : 30px;
        height : auto;
    }

    #header {
        background  : #000000;
        height      : 50px;
        padding-top : 3px;
    }

    .logo {
        width : 100px;
    }

    .logo img {
        width  : 100%;
        height : auto;
    }

    .bg {
        top : -5px;
    }

    h1 {
        font-size   : 20px;
        line-height : 24px;
        text-align  : center;
        margin      : 12px -7px 16px;
    }

    h1 span {
        font-size : 25px;
        display   : block;
    }

    h1 mark {
        font-size   : 44px;
        line-height : 44px;
    }

    h1 i {
        display : none;
    }

    .contact-form {
        margin : 0 auto;
    }

    .contact-form .form-group {
        margin-bottom : 17px;
    }

    .contact-form p {
        margin-bottom : 6px;
    }

    .contact-form .btn-arrow {
        margin : 0;
    }

    .info-box {
        margin-bottom : 15px;
    }

    .info-box .frame {
        margin-top : -75px;
    }

    .info-box .hold {
        padding     : 42px 25px 6px;
        font-size   : 16px;
        line-height : 24px;
    }

    .info-box .icon img {
        margin-top : -13px;
    }

    .info-box h3 {
        margin-bottom : 27px;
        line-height   : 33px;
    }

    .pay-list {
        margin-top : 35px;
    }

    .pay-list li {
        width : 40px;
    }

    .pay-list li img {
        width  : 100%;
        height : auto;
    }

    #footer dl {
        margin : 0;
    }

    #footer dl dd {
        text-align : justify;
    }

    #footer .row {
        margin : 0;
    }
}

.contact-form .form-group {
    margin-left  : 0 !important;
    margin-right : 0 !important;
}

.contact-form .form-group label.error, .contact-form label#other-error.error {
    display : none !important;
}

.contact-form .form-group.submit {
    padding-left  : 0;
    padding-right : 0;
    margin-right  : 0;
    margin-left   : 0;
}

.contact-form .form-group.submit button {
    margin-left  : 0 !important;
    margin-right : 0 !important;
    width: 93% !important;
    box-sizing: initial !important;
}