.form-options,.or,.signup{
    display: table;
    margin: 10px auto;
}
.form-options button,.or button,.signup a{
    margin-left: 5px;
}
.loginForm{
    margin-top: 10px;
}
html.noscrolly{
    overflow-y: hidden;
}

.getLoading{
    display: none;
}
.getLoading .inside{
    display: inline-block;
    padding-left: 5px;
    text-align: center;
}
.getLoading.on{
    display: block;
}
#account-details .getLoading{
    margin-right: 5px;
}