/* animateCSS */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

/** custom **/
.form-options button,.or button,.signup a{
    margin-left: 5px;
}
.loginForm{
    margin-top: 10px;
}
html.noscrolly{
    overflow-y: hidden;
}
html, body {
    height: auto;
}

.getLoading{
    display: none;
}
.getLoading .inside{
    display: inline-block;
    padding-left: 5px;
    text-align: center;
}
.getLoading.on{
    display: block;
}
#account-details .getLoading{
    margin-right: 5px;
}

.subsectionheader{
    position: relative;
}
/*.subsectionheader .getLoading{
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 15px;
    line-height: 62px;
}*/

body,.bg-login{
    height: 100%;
}

.bg-login form{
    max-width: 460px;
    margin: 0 auto;
}

.bg-login .form-control{
    margin-bottom: 17px;
}
.bg-login .form-options{
    margin-top: 32px;
}

.bg-login .bfloat {
    font-weight: 100;
    font-size: 19px;
}

body.bggray:after{
    content:'';
    display: block;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 1100px;
    background-color: rgba(61,61,61,.6) !important;
    overflow: hidden;
}
#formDepositModal,#welcomeModal{
    background: transparent !important;
}
*:focus{
    outline: none;
}

#formDepositModal{
    height: 1075px !important;
}

#formDepositModal .col-xs-8{
    position: relative;
}
#formDepositModal .col-xs-8 label{
position: absolute;
padding: 0 3px;
margin: 0;
right: 15px;
color: #fff;
font-size: 11px;
bottom: 0;
border-radius: 0 0 1px;
display: block;
background-color: #a94442;
height: auto;
line-height: normal;
z-index: 10;
}
#formDepositModal .col-xs-8.phone-50 label{
    right: 0px;
}

.call.up .rate,.put.down  .rate{
    color: #00A000;
}
.call.down .rate,.put.up .rate{
    color: #f21f1f;
}
.position-row .fa{
    display: none;
    margin-right: 5px;
}
.position-row.call .fa-caret-down,.position-row.put .fa-caret-up,.position{
    text-transform: uppercase;
    display: inline-block;
}
.put td,.call td{
    color: #444;
}
.position-row.call .position{
    position: relative;
}

.position-row.put .position:before,.position-row.call .position:before{
    content: "";
    text-transform: uppercase;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
    margin-right: 5px;
}

.position-row.put .position:before{
    content: "";
}
.position-row.call .position:before {
    content: "";
}



.bottomDeposit span{
    display: block !important;
    line-height: 20px;
}

#runningPositionsTable tr:nth-child(even), #positionsHistoryTable  tr:nth-child(even) { background: #F6F6F6}

td{
    border: 1px solid #E4E4E6 !important;
}

.positionSection {
    width: 161px;
    padding-left: 58px !important;
    text-align: left;
}

#positionsHistoryTable_wrapper .positionSection {
    width: 161px;
    padding-left: 4.5% !important;
    text-align: left;
}
.position-row .name{
    color: #000;
}

#positionsHistoryTable_wrapper .status{
    text-transform: uppercase;
}
.position-row.won .status{
    background: green !important;
    color: #fff;
}
#positionsHistoryTable_wrapper .position-row.lost .status{
    background: red !important;
    color: #fff;
}
/*#positionsHistoryTable_wrapper .position-row td{
    color: #000;
}*/
#positionsHistoryTable_wrapper .date{
    width: 134px;

}
.low-alert{
    display: none;
}
.depositBtnSect{
    position: relative;
}
.loadingForm{
    position: absolute;
    top: 0px;
    display: none;
    background-color: #88C407!important;
    width: 100%!important;
    max-width: 100%!important;
    border-bottom: 3px solid #666;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    padding-top: 19px;
    width: 100%;
    min-height: 64px;
    font-weight: 700;
    font-size: 25px;
    outline: 0;
    text-shadow: none;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    margin-top: 13px;
}
.loadingForm .getLoading.on {
    display: inline-block;
    margin: 8px;
}
.loadingForm i{
    margin-right: 5px;
}
#thanku .modal-content{
    text-align: center;
    height: 600px;
    line-height: 600px;
    font-size: 40px;
}
#thanku i{
    color: green;
    font-size: 74px;
}

h3.popover-title:before {
    content: "";
    position: absolute;
    font-weight: 700;
    background-color: transparent;
    padding: 5px;
    top: 1px;
    right: 1px;
    border-radius: 7px;
    display: block;
    width: 23px;
    text-align: center;
    font-size: 12px;
}
@media(max-width: 1420px){
    .boa-deposit-form-container .popover.top {
        left: 53% !important;
    }
}
@media(max-width: 992px){
    #formDepositModal {
        height: 1707px !important;
    }
    .boa-deposit-form-container .boaforms-deposit .height {
        margin: 10px 0;
    }
    .boa-deposit-form-container .boaforms-deposit #right_form {
        padding-left: 15px;
    }
}