#about .error { text-align : center; }

.center { margin : 0 auto; }

.removeFloat { float : none !important; }

#other-error, #prefix-error { display : none !important; }

.fix-captcha-overlay {
    overflow    : hidden;
    margin-left : -5%;
    height: auto !important;
}