#about .error { text-align : center; }

.center { margin : 0 auto; }

.removeFloat { float : none !important; }

#other-error, #prefix-error { display : none !important; }

.g-recaptcha >div > div{
    overflow    : hidden;
    margin-left : -8%;
    height: auto !important;
}