/*FONT ROBOTO IMPORT*/
@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab);
/*IMPORT THE DIRECTION LESS TO TAKE CARE OF THE CHANGE IN DIRECTION OF OTHER LANGUAGES */
@import "../../direction";
/*IMPORT BOOTSTRAP LIBRARY WITH ALL THE ADDONS*/
@import "../../bootstrap/bootstrap";
/*MY VARIABLE*/
@import "my-variable";
/*MY MIXING */
@import "my-mixin";
/*LOGIN PAGE STYLES*/
@import "login";

.hidden {
  visibility : visible !important;
}

/*BASE BODY STYLE*/
body {
  font-family : @font-headers-running;
  .left (0);
  margin      : 0;
  position    : relative;
  padding     : 0;
  background  : black;

  /*REMOVE TRANSITION ON DESKTOP VIEW*/
  @media (max-width : 1000px) {
    transition : all 0.5s;
    overflow-x : hidden;
  }

  /*WRAPPER FOR ALL THE CONTENT*/
  .content-wrapper {
    background      : url('@{image}bg.jpg') top center;
    background-size : contain;
    overflow-x      : hidden;

    @media (max-width : 998px) {
      background-image : none;
    }

    /*ACCOUNT DETAILS*/
    .account-details-desktop {
      width                      : 205px;
      height                     : 8.7em;
      position                   : absolute;
      .right(@width*1.45);
      border-bottom-right-radius : 0.6em;
      border-bottom-left-radius  : 0.6em;
      background-color           : white;
      z-index                    : 1;

      &:after {
        content  : url('/img/panel/black/account-shadow.png');
        position : relative;
        top      : 12px;
      }

      @media (min-width : 1240px) and  (max-width : 1740px) {
        .right (0);
      }

      @media (max-width : 1240px) {
        display : none !important;
      }

      /*TITLE */
      .account-details-title {
        height     : 2.2em;
        background : @account-details-header-bg;

        /*DIV WRAPPER HUMAN AVATAR*/
        .img-human {
          display : inline-block;
          width   : @width*1.53;

          /*IMG TAG*/
          .icon-human-pic {
            display   : block;
            max-width : @width*10;
            height    : auto;
            position  : absolute;
            .left(9px);
            top       : 5px;
          }
        }
        /*TITLE TEXT */
        .title {
          display     : inline-block;
          color       : white;
          font-weight : bold;
          font-size   : 1.15em;
          padding     : 4px 0;
        }
      }
      /*PARAGRAPHS WITH THE INFO TITLE*/
      .info-tab {
        .margin(0, 0, 2px, 0);
        font-size : 0.9em;
        position  : relative;
        top       : 7px;
        .left(11px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 92%;

        @media (max-width : 993px) {
          .padding(0, 0, 0, 0);
        }

        /*SPAN INFO RESULTS*/
        .info-result {
          letter-spacing : 0px;
        }
      }
    }

    .account-details-mobile {
      color     : black;
      font-size : 1.1em;

      @media (min-width : 999px) and (max-width : 1240px) {
        display : block !important;
        .margin(8em, 0, 0, 0);

      }
      @media (max-width : 998px) {
        margin-top : 3.7em;
      }

      @media (max-width : 768px) {
        margin-top : 0em ;
      }
      @media (max-width : 400px) {
        font-size : 0.8em;

      }

      .container {
        background : white;

        @media (max-width : 767px) {
          padding : 0;
        }
        .row {
          @media (max-width : 768px) {
            margin : 0;
          }

          /*ACCOUNT DETAIL TITLE */
          .account-details-title {
            background : @account-details-header-bg;
            color      : white;
            .padding(0.4em, 0, 0.4em, 0);
            font-size  : 1.3em;
          }

          /*ACCOUNT DETAIL PERSONAL*/
          .account-detail-personal-info {
            padding-top : 0.4em;
            @media (max-width:998px){
              font-size: 0.9em;
            }

            p {
              &.info-tab {
                &.col-xs-7 {
                  @media (max-width : 500px) {
                    .padding(0, 0, 0, 0);
                  }
                }
                &.col-xs-5 {
                  @media (max-width : 500px) {
                    .padding-right(0);
                  }

                }
              }

            }

          }
        }
      }
    }
    /*NAVBAR DESKTOP*/
    .navbar-desktop {
      position      : relative;
      background    : @nav-bar-bright-color;
      border        : none;
      color         : white;
      overflow      : hidden;
      border-radius : 0;
      border-top    : @default-border-style @nav-bar-border-color-shadow;

      @media (min-width : 996px) {
        top           : 6em;
        border-radius : 0;
      }
      @media (max-width : 776px) {
        font-size  : 0.9em;
        border-top : none;
      }

      /*BACKGROUND BECAME TRANSPARENT*/
      @media (max-width : 767px) {
        background : transparent;
        //margin-bottom: 0;
        .margin(0, 0, 0, 0);
      }

      /*CONTAINER INSIDE THE NAV-BAR*/
      .container {
        /*ON MOBILE VIEW CHANGE THE NAVBAR TO BE 100% WIDTH AND DECREASE THE SIZE OF THE FONT*/
        @media (max-width : 996px) {
          width     : @width*10;
          font-size : 0.9em;
        }
        @media (max-width : 768px) {
          padding : 0;
        }

        /*BUTTON ELEMENT*/
        .navbar-toggle {
          font-family   : @font-buttons;
          border        : none;
          border-radius : 0;
          background    : @nav-bar-bright-color;
          position      : relative;
          float         : @right;
          padding       : 20px 20px;
          margin        : 0;
          border-left   : @default-border-style #237EBB;
          z-index       : 10;

          .icon-bar {
            background-color : white;
          }
        }

        /**/
        .navbar-header, .navbar-nav, .navbar-collapse {
          @media (max-width : 768px) {
            width   : @width*10;
            padding : 0;
            margin  : 0;
          }
        }
      }

      /*NAV BAR COLLAPSE ON MOBILE*/
      .navbar-collapse {
        text-align : center;
        width      : @width*10;
        @media (max-width : 993px) {
          font-size : 0.9em;
        }
        @media (max-width : 768px) {
          font-size : 0.8em;
        }

        /*NAV BAR INSIDE*/
        .navbar-nav {
          display        : inline-block;
          float          : none;
          vertical-align : top;

          /*LIST ELEMENT IN THE NAV-BAR (SPECIFIC LINK )*/
          .navbar-part {
            border-right : @default-border-style @nav-bar-border-right;
            border-left  : @default-border-style @nav-bar-border-left;
            @media (max-width : 767px) {
              border : none;
            }

            /*HREF TEXT*/
            .navbar-text {
              color          : inherit;
              letter-spacing : 0px;
              margin         : 0;
              text-shadow    : -1px -1px 2px #444444;
              font-family    : Helvetica, Arial;
              &:hover {
                text-decoration : underline;
              }
              &:active {
                text-decoration  : none;
                background-color : #0082d8;
              }
            }
          }
        }
      }
    }
    /* NAVBAR MOBILE*/
    .navbar-mobile {
      .left(-200px);
      height     : 100%;
      position   : fixed;
      width      : 200px;
      top        : 0;
      z-index    : 100;
      background : #2C98E0;
      transition : all 0.5s;
      .navbar-ul-wrapper {
        list-style : none;
        margin     : 0;
        padding    : 0;

        .navbar-li-wrapper {
          border-bottom : @default-border-style #237EBB;
          font-family   : @font-headers-running;
          line-height   : 45px;
          .padding(3px, 0, 7px, 20px);

          .navbar-text-mobile {
            color           : #ffffff;
            font-size       : 0.9em;
            text-decoration : none;
            text-transform  : uppercase;
            width           : 100%;
            display         : block;
          }
        }
      }
    }

    /*INCENTIVE GUIDE FOR NEW CUSTOMERS */
    .activate-method-system {
      &.container {
        @media (max-width:1200px) {
          width:100%;
          padding: 0;
        }
      }

      .margin(8.5em, auto, 0, auto);
      box-sizing       : initial;
      color            : white;
      font-weight      : bold;
      letter-spacing   : 2px;
      background-color : @nav-bar-dark-color;
      min-height       : 5.8em;

      @media (max-width : 1240px) {
        margin-top : 2.5em;
      }

      @media (max-width : 992px) {
        //todo check how to change this to right to left
        .margin (3em, auto, 0, auto);
      }

      @media (max-width : 768px) {
        .margin (0.5em, auto, 0, auto);
      }
      /*METHOD TITLE WRAPPER*/
      .active-method-title-wrapper {

        /*H3 */
        .method-title {
          font-size      : 1.65em;
          letter-spacing : 0;
          .margin(0.52em, 0, 0, 0);
          text-align: center;

          @media (max-width : 1024px) {
            text-align : center;

          }
        }
      }

      /*SUBTITLE WRAPPER*/
      .active-method-subtitle-wrapper {

        /*H4 TAG */
        .method-subtitle {

          /*ARROW ICON (<I> TAG) AT THE START AND THE END */
          .fa-arrow-down {
            color : #EFDE00;
            @media (max-width : 400px) {
              font-size : 0.7em;
              display   : none;
            }
          }

          /*SPAN TAG - TEXT WITHIN THE SUBTITLE */
          .active-method-text {
            font-size      : 1.2em;
            position       : relative;
            line-height    : 24px;
            .margin(0px, 0, 0, -3px);
            letter-spacing : 0px;
            font-style     : italic;
            color          : #FFDE00;
            font-weight    : bold;

            @media (max-width : 640px) {
              font-size : 0.9em;
            }

            @media (max-width : 410px) {
              font-size : 0.7em;
            }
          }
        }
      }
    }

    /*ARROW PICTURE AT THE BOTTOM OF THE INCENTIVE*/
    .arrow-img-wrapper {
      .arrow-img {
        .margin(0, 0, 0, 10.7%);

        @media (max-width : 1200px) {
          display : block;
          margin  : 0 auto;
        }
      }
    }

    /*TABS SECTION*/
    .tabs-wrapper {
      position : relative;
      &.container {
        padding : 0;
      }

      /*TAB WRAPPER GENERAL*/
      .tab-wrapper {
        min-height       : 13.3em;
        padding          : 0;
        .margin(0.6em, 0.95em, 0, 0.95em);
        min-width        : 320px;
        background-color : #282828;

        @media (max-width : 1200px) {
          .margin(1.4em, 0em, 2.5em, 0em);
        }

        @media (max-width : 996px) {
          .margin(1.4em, 0em, 3.5em, 0em);
        }

        &:hover [class^="tab-shadow"] {
          opacity : 1;
        }

        .tab-shadow-1 {
          position : absolute;
          top      : 171px;
          width    : 108.1%;
          .right(-16px);
          opacity  : 0;

          @media (max-width : 1200px) {
            top : 146px;
            .left(-4.2%);
          }
          @media (max-width : 560px) {
            top : 171px;
          }
        }
        .tab-shadow-2 {
          position : absolute;
          top      : 173px;
          .right(-16px);
          width    : 109.9%;
          opacity  : 0;
          @media (max-width : 1200px) {
            top : 156px;
            .left (-4.2%);
          }
          @media (max-width : 998px) {
            top : 154px;
          }
          @media (max-width : 560px) {
            top : 171px;
          }

        }

        .tab-shadow-3 {
          position : absolute;
          top      : 171px;
          .left(-18px);
          width    : 108.9%;
          opacity  : 0;
          @media (max-width : 1200px) {
            top : 146px;
            .left(-4.2%);
          }

          @media (max-width : 768px) {
            top : 156px
          }

          @media (max-width : 560px) {
            top : 171px;
          }
        }

        /*FIRST TAB (SPECIFIC SIZE*/
        &.deposit {

          /*SPECIFIC TOP PART OF DEPOSIT*/
          .top-part {

            /*SPECIFIC TITLE*/
            .tab-title {
            }
          }
        }

        /*SECOND TAB SPECIFIC SIZE*/
        &.auto-trading {
          //width: 30.1%;

          /*BOTTOM PART OF ALL BUTTONS*/
          .bottom-part {
            border-top : @default-border-style #444444;

            /*SWITCH BUTTON*/
            .tab-switch-button {

              /**/
              .toggles {
                height : 50px;
                width  : 110px;

                &.switch-on {
                  .toggle-slide {
                    box-shadow : 0 0px 31px -2px #41D408 !important;
                    border     : 2px solid black !important;
                  }
                }
                //&[data-on="ON"] {
                //  .toggle-slide {
                //    box-shadow: 0 0px 31px -2px #41D408 ;
                //    border:     1.9px solid black !important;
                //  }
                //}

                &.toggle-light {
                  .padding(2.2em, 0, 0, 0);
                  margin : 0 auto;

                  .toggle-slide {
                    border-radius       : 9999px;
                    overflow            : hidden;
                    cursor              : pointer;
                    -webkit-user-select : none;
                    -moz-user-select    : none;
                    -ms-user-select     : none;
                    user-select         : none;
                    direction           : ltr;
                    direction           : ltr;
                    text-align          : center;
                    box-shadow          : 0px -5px 17px 0px rgba(230, 250, 250, 0.3);

                    .toggle-inner {

                      /*TOGGLE ON AND STYLES*/
                      .toggle-on, .toggle-off {
                        font-size      : 22px;
                        font-weight    : bold;
                        letter-spacing : 1px;
                      }
                      /*TOGGLE ON OFF AND BLOB STYLE */
                      .toggle-on, .toggle-off, .toggle-blob {
                        float : left;
                      }

                      /*TOGGLE ON SPECIFIC STYLES*/
                      .toggle-on {

                        /*ON ACTIVE CLASS*/
                        &.active {
                          color       : #f0ffd4;
                          text-shadow : -1px 0px 7px #969696;
                          background  : #3fd307;
                          background  : linear-gradient(to bottom, #3fd307 4%, #3fd307 4%, #e1fb38 78%);
                          filter      : progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fd307', endColorstr='#e1fb38', GradientType=0);
                        }
                      }
                      .toggle-off {
                        background                 : #242326;
                        color                      : #c10505;
                        text-shadow                : 1px 0 1px #840202;
                        height                     : 51px;
                        width                      : 88px !important;
                        border-bottom-right-radius : 30px;
                        border-top-right-radius    : 30px;
                        margin-left                : -27px !important;
                        text-indent                : 17px;
                        line-height                : 50px;
                        font-family                : helvetica;
                        background                 : radial-gradient(#232426, #252525);
                        border                     : 1px solid black;
                        box-shadow                 : inset 1px 0px 12px #444444;
                        z-index                    : -1;
                        font-size                  : 1.5em;

                        @media (max-width : 768px) {
                          margin-left : -21px !important;
                        }

                        &.active {
                          height      : 50px !important;
                          width       : 86px !important;
                          margin-left : -25px !important;
                          text-indent : 17px !important;
                          line-height : 50px !important;
                        }
                      }
                      /*ALL the light of the bolb toggle*/
                      .toggle-blob {
                        border-radius : 50px;
                        background    : linear-gradient(#f5f5f5, #cfcfcf);
                        height        : 48px !important;
                        width         : 48px !important;
                        position      : relative;
                        z-index       : 99;
                        cursor        : hand;
                        cursor        : -webkit-grab;
                        cursor        : grab;
                        height        : 50px !important;

                        /*NOT ACTIVE */
                        &[active=false] {
                          height     : 49px !important;
                          margin-top : 1px;
                          width      : 48px !important;
                          box-shadow : inset 0 2px 3px #555555;
                          background : linear-gradient(#3B3B3C, #2E2E31, #191919);
                          filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f5053', endColorstr='#2c2d2e', GradientType=0);
                          border     : 1px solid black;
                        }
                        /*WHEN THE SWITCH IS ON */
                        &[active=true] {
                          color       : #f0ffd4;
                          text-shadow : 0px -1px 4px #969696;
                          background  : #3fd307;
                          background  : radial-gradient(circle farthest-corner at 20px 1px, #C6DE26 26%, #3BC506, #3CC708);
                          filter      : progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fd307', endColorstr='#e1fb38', GradientType=0);
                          box-shadow  : 1px 2px 1px 2px #2F2D2D, inset 1px 1px 1px #dddddd;
                          border      : @default-border-style #34C134;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        /*THIRD TAB SPECIFIC SIZE*/
        &.amount {

          .amount-btn {
            width         : @width*3.9%;
            .margin(0, 13px, 15px, 0);
            position      : relative;
            top           : 8px;
            .left(4px);
            .box-shadow(1px 1px 10px 1px black);
            background    : linear-gradient(to top, #222222, #444547);
            color         : #cccccc;
            text-shadow   : 0 -2px 1px black;
            outline       : none;
            border-bottom : 1px solid black;
            border-left   : 2px solid black;
            border-right  : none;
            border-top    : 1px solid #777777;
            &:hover {
              background : #252525;
              background : linear-gradient(to bottom, #252525 0%, #444547 100%);
              filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#252525', endColorstr='#444547', GradientType=0);
            }
            &:focus {
              .active-btn;
            }
          }
        }

        /*TOP PART OF EACH TAB*/
        .top-part {
          border-bottom : @default-border-style black;
          display       : block !important;

          /*CIRCLE IMAGE WITH THE STEP NUMBER*/
          .tab-number-in-circle {
            position                : absolute;
            top                     : -35px;
            left                    : -21px;
            height                  : 63px;
            width                   : 63px;
            -webkit-border-radius   : 50%;
            -webkit-background-clip : padding-box;
            border-radius           : 50%;
            background-clip         : padding-box;
            background              : #ffde00;
            border                  : 6px solid #000000;
            font-size               : 35px;
            font-weight             : bold;
            line-height             : 50px;
            color                   : #000000;
            text-shadow             : -1px 2px 1px #f4ff96;
            //-webkit-transform       : rotate(5deg);
            //transform               : rotate(5deg);
            box-shadow              : inset 1px 2px 1px 1px #fff299;

            @media (max-width : 1200px) {
              .left(9px);
            }

            @media (max-width : 1012px) {
              .left(15px);
            }
            @media (max-width : 433px) {
              top : -47px;
            }

          }
          .tab-title {
            font-size   : 1.5em;
            color       : white;
            line-height : 59px;
            margin      : 0;
            @media (max-width : 500px) {
              font-size : 1.3em;
            }
          }
        }
        /*BOTTOM PART WITH THE BUTTONS */
        .bottom-part {
          min-height : 8.8em;
          border-top : @default-border-style #444444;

          /*BUTTON FIRST*/
          .tab-big-button {
            position     : relative;
            top          : 0.8em;
            font-size    : 1.7em;
            outline      : none;
            line-height  : 2.033333;
            word-spacing : 1px;
            text-indent  : -6px;
            width        : @width*8.5;
            .btn-color;

            @media (max-width : 410px) {
              font-size   : 1.5em;
              font-weight : 600;
            }
          }
        }
      }
      /*BIG ARROW IN THE LEFT OF THE SCREEN*/
      .arrow-rotate {
        top      : 49px;
        .left(-89px);
        position : absolute;
      }

    }

    table {
      border-collapse : separate;
    }
    /*TABLE OF THE OPEN TRADE*/
    .rb-options-open-trade, .rb-options-history {
      .margin(3em, 0, 0, 0);
      border : none;
      @media (max-width : 507px) {
        font-size : 11px;
        .margin(0, 0, 3.5em, 0);
        overflow  : hidden;
        border    : none;
        padding   : 4px 1px;
      }
      /*SPECIFIC CONTAINER*/
      .container {
        padding : 0;

        /*TABLES GENERAL*/
        .table {
          margin-bottom : 0;
          padding       : 0;
        }

        /*TABLE ROW (TR)*/
        .table-row {

          .table-header-th {
            border       : none;
            border-left  : 1px solid #0765a5;
            border-right : 1px solid #52a5f5;
            font-size    : 16px;
            height       : 34px;
            text-shadow  : 1px 1px 1px #7bb2f4;
            @media (max-width : 768px) {
              font-size : 10px;
            }

            &:last-of-type {
              border-right : none;
            }
            &:first-of-type {
              border-left : none;
            }
          }

          /*TABLE DATA (TR)*/
          .table-data {
            border : none !important;
            @media (max-width : 400px) {
              font-size      : 11px;
              vertical-align : middle !important;
              padding        : 8px 2px !important;
            }

          }
        }

        /*CAPTION OF THE TABLE (CAPTION) */
        .table-title {
          font-size        : 1.65em;
          text-indent      : -4px;
          color            : white;
          letter-spacing   : 1px;
          word-spacing     : -2px;
          background-color : @table-bg-title;
          border-bottom    : 4px solid black;
          .fa-spin {
            text-indent : 0;
            display     : none;
          }
        }

        /*TR WITH ALL THE HEADERS*/
        .table-headers {
          background : @table-header-color-new;
          color      : black;
          font-size  : 1.3em;

          /*HEADERS (TH)*/
          .header {
            border-top : none;
          }
        }

        /*TD WITH ALL THE CONTENT (TD)*/
        .table-tr-content {
          color  : white;
          height : 34px;

          /*ALL TDS THE ODD*/
          &:nth-of-type(odd) {
            background : @table-bg-odd;
            color      : white;
          }
          /*ALL TDS THE EVEN*/
          &:nth-of-type(even) {
            background : @table-bg-even;
          }

          /*TABLE DATA*/
          .table-data {
            border-top : none !important;
          }

          /*SPECIFIC TD POSITION*/
          .td-position {
            font-size : 1.1em;
            .fa-arrow-down {
              color : red;
              @media (max-width : 394px) {
                font-size : 0.7em;
              }
            }

            .fa-arrow-up {
              color : #B8F116;
              @media (max-width : 394px) {
                font-size : 0.7em;

              }

            }
          }
        }
      }
    }
    /*SET ONLY FOR HISTORY TABLE*/
    .rb-options-history {
      .container {
        .table-title {
          margin : 0;
        }

      }
      .hide-td-in-history-trade {
        display : none;
      }
    }

    /*SET ONLY FOR OPEN TRADE TABLE*/
    .rb-options-open-trade {

      .hide-td-in-open-trade {
        display : none;
      }
    }

    /*FOOTER TAG WITH ALL THE LOGOS*/
    .footer-certificate-logos {
      .margin(8.4em, 0, 0, 0);
      .footer-copyrights {
        color : white;
      }
    }

    /*FANCY BOX FOR WELCOME SCREEN HREF (DIV)*/
    .modal-welcome {
      color      : white;
      background : rgba(0, 0, 0, 0.6);
      .padding-right(0) !important;
      .padding-left(0) !important;

      .modal-dialog-welcome {
        @media (min-width : 768px) {
          width : 816px;
        }
        @media (max-width : 768px) {
          width : 100%;
          .margin(0, 0, 0, 0);
        }

        /*WRAPPER FOR ALL THE CONTENT HEADER + BODY + FOOTER*/
        .modal-welcome-content {
          background : black;

          /*HEADER OF THE MODAL (DIV)*/
          .modal-header-welcome {
            background : @bg-color-header-modal;
            border     : none;
            padding    : @modal-title-padding;

            /*MODAL TITLE */
            .modal-title-h3 {
              margin      : 0;
              line-height : 1.42857143;
              color       : white;
              font-weight : bold;
              font-size   : 2.6em;
              text-shadow : 0px -1px 1px black;

              @media (max-width : 500px) {
                font-size : 2em;
              }
            }
            /*EXIT BUTTON FROM THE MODAL*/
            .square-logo {
              float  : @right;
              .margin(-0.5em, -0.5em, -0.5em, -0.5em);
              cursor : pointer;
            }
          }
          /*BODY PART (CONTENT OF THE MODAL) (DIV)*/
          .modal-body-welcome {
            /* WELCOME TEXT (P TAG)*/
            .padding(15px, 15px, 0, 15px);
            .modal-welcome-text-p {
              color       : white;
              text-align  : center;
              font-size   : 1.30em;
              font-weight : 100;
              text-shadow : 1px 1px 1px black;

              @media (max-width : 768px) {
                font-size : 1.4em;
              }
              @media (max-width : 400px) {
                font-size : 1.2em;
              }

              /*WELCOME PS (SPAN)*/
              .model-welcome-text-ps-span {
                color   : #06b1f7;
                display : block;
              }
            }
            /*WRAPPER FOR ALL THE STEPS NEW USER NEW TO HAVE TO START USE THE PANEL*/
            .steps-wrapper {

              /*STEP DIV */
              .step-wrapper {
                padding    : 1em;
                margin     : 2.5em;
                min-height : 6.3em;

                @media (max-width : 998px) {
                  margin : 2.5em 0;
                }

                /*MONEY WRAPPER BACKGROUND*/
                &.money-wrapper {
                  background : #282828 url('@{image}desktop/money.png') no-repeat;
                }

                /*ACTIVATE WRAPPER BACKGROUND*/
                &.activate-wrapper {
                  background : #282828 url('@{image}desktop/active.png') no-repeat;
                }

                /*RELAX WRAPPER BACKGROUND*/
                &.relax-wrapper {
                  background : #282828 url('@{image}desktop/relax.png') no-repeat;
                }

                /*WRAPPER FOR ALL THE STEPS IMAGES (LOGOS)*/
                .step-img-wrapper {
                  position   : relative;
                  margin     : -1em auto;
                  text-align : center;
                  bottom     : 2em;
                }

                /*IMAGE-WRAPPER DIV*/
                .image-wrapper {

                  /*IMAGE SIZE */
                  .step-img {
                    width : @width*3.3;
                  }
                }
                /*STEP CONTENT WRAPPER*/
                .step-content-wrapper {

                  /*STEP TEXT CONTENT (P TAG)*/
                  .step-content {
                    padding    : 0;
                    margin     : 0;
                    text-align : center;
                    color      : white;
                    font-size  : 1.4em;
                  }
                }
              }
            }
          }
          /*MODAL FOOTER WRAPPER*/
          .modal-footer-welcome {
            .padding (0, 0, 30px, 0);
            text-align : @right;
            border     : none;

            /*FOOTER PLACE IN THE WELCOME FOOTER*/
            .button-welcome-footer {
              .float(none);
              margin    : -0.5em auto;
              display   : block;
              width     : @width*5;
              height    : 7.5vh;
              font-size : @width*30%;
              .btn-color;

              @media (max-width : 768px) {
                width       : @width*9 !important;
                font-size   : 2.2em;
                min-height  : 1.8em;
                font-weight : bold;
              }
            }
          }
        }
      }
    }

    /*MODAL BASE WRAPPER FOR DEPOSIT FORM*/
    .modal-deposit {
      color      : white;
      background : rgba(0, 0, 0, 0.6);
      .padding-right(0) !important;
      .padding-left(0) !important;

      /*CONTENT FIRST INNER WRAPPER*/
      .modal-dialog-deposit {
        //width: 60%;
        width  : 1130px;
        margin : 0 auto;

        @media (max-width : 1200px) {
          width  : 100%;
          margin : 0 auto;
        }
        /*CONTENT SECOND INNER WRAPPER */
        .modal-deposit-content {
          background : @bg-color-modal;

          .clearfix {
            &.end-content {
              border-bottom : 1px solid black;
            }
          }

          /*MODAL HEADER*/
          .modal-header-deposit {
            background    : @bg-color-header-modal;
            border-bottom : 2px solid black;
            color         : white;
            border        : none;
            padding       : 15px;

            /*MODAL TITLE */
            .modal-title {
              margin      : 0;
              line-height : 1.42857143;
              font-size   : 2.5em;
              font-weight : 600;
              text-shadow : 1px 0px 1px black;
            }

            /*BUTTON X FOR EXIT THE MODEL*/
            .square-logo {
              .float(right);
              .margin(-0.7em, -0.7em, 0.7em, 0.7em);
              cursor : pointer;
            }
          }
          /*MODAL BODY*/
          .modal-body-deposit {
            padding       : 0;
            border-bottom : 2px solid black;

            @media (max-width : 768px) {
              border-bottom : none;
            }
            .broker-name {
              border-radius : 4px;
              padding       : 0;
              margin        : 0;
              .deposit-broker-text-wrapper {
                padding    : 1em;
                margin     : 0;
                background : @bg-color-modal;
                .deposit-broker-text {
                  padding        : 3px 0;
                  margin         : 0;
                  display        : inline-block;
                  vertical-align : middle;
                  font-size      : 2em;
                }
                .left-hand-header, .right-hand-header {
                  display : inline-block;
                  width   : 2.2em;
                }
              }
              .hand {
                color : #0069b1;
              }
            }

            /*DEPOSIT TITLE WRAPPER*/
            .deposit-title-wrapper {
              background : @nav-bar-bright-color;
              padding    : 0.2em;
              .boxShadow(0px 2px 1px 1px black);

              .deposit-title {
                margin         : 0;
                color          : black;
                font-size      : 3.5em;
                line-height    : 1.3em;
                text-shadow    : 0px 1px 1px #3fb3ff;
                letter-spacing : 2px;
              }
              small {
                font-size   : 1.4em;
                text-shadow : 0px -1px 1px black;
              }
            }

            /*FORM WRAPPER FOR DEPOSIT*/
            .form-wrapper {

              /*FORM TAG ITSELF */
              .form-deposit {

                /*FIRST PART OF THE FORM (DIV TAG WRAPPER)*/
                .first-part-form {

                  .form-title-wrapper {

                    /*FORM TITLE (PERSONAL INFO)*/
                    .form-title {
                    }
                    /*YELLOW ARROW POINTS TO THE FORM*/
                    .yellow-arrow {
                    }
                  }

                  /*FORM GROUP (EACH INPUT AND INPUT)*/
                  .form-group {
                    label {
                      &.error {
                        display : none !important;
                      }
                    }

                  }
                }

                /*SECOND PART OF THE FORM (DIV TAG WRAPPER)*/
                .second-part-form {

                  /*FORM TITLE WRAPPER*/
                  .form-title-wrapper {

                    @media (max-width : 992px) {
                      padding-top : 0 !important;
                    }

                    /*FORM TITLE (PERSONAL INFO)*/
                    .form-title {
                    }

                    .yellow-arrow {
                    }
                  }
                  /*FORM GROUP (EACH INPUT AND INPUT)*/
                  .form-group {

                    label {
                      &.error {
                        display : none !important;
                      }
                    }

                    /*CARD TYPE WRAPPER*/
                    .card-type-title-wrapper {
                      height : 1px;

                      /*IMAGE IN THE CARD TYPE */
                      .card-type-img {
                        max-width : 6.9vw;
                      }
                    }

                    /*CVV WRAPPER*/
                    &.cvv-wrapper {
                      padding-top : 0px !important;
                    }

                    .card-type-selectbox {
                      color : @select-box-font-color;
                    }

                    /*MONTH AND YEAR GENERAL STYLE (SELECT-BOX)*/
                    .month-exp-selectbox, .year-exp-selectbox {
                      min-height    : 2.858em;
                      border-radius : 5px;
                      height        : 40px;
                      color         : @select-box-font-color;
                    }
                    /*EXPIRATION DATE FOR YEAR (SELECT-BOX)*/
                    .year-exp-selectbox {
                      //width: 42%; //todo check if this work
                      @media (max-width : 992px) {
                        width : @width*4.64%;
                      }
                      @media (min-width : 993px) {
                        .float(none) !important;
                        width : @width*3.38;
                      }
                    }
                    /*EXPERATION DATE FOR MONTH (SELECT-BOX)*/
                    .month-exp-selectbox {
                      .margin-right (0.5em);

                      & when (@direction=rtl) {
                        //  margin-left: 0em;

                        @media (max-width : 993px) {
                          margin : 0;
                        }
                      }
                    }
                    /*INPUT AND SELECT-BOX*/
                    .form-control {
                    }
                    /*INFO LOGO IN THE CVV BUTTON*/
                    .info-logo {
                      .padding(0.5vw, 0.3vw, 0, 0.3vw);
                    }
                  }
                }
                /*ALL FORMS WRAPPER GENERAL STYLE*/
                .first-part-form, .second-part-form {
                  margin-bottom : 2em;

                  /*FORM TITLE WRAPPER*/
                  .form-title-wrapper {
                    color   : #FFDE00;
                    padding : 2em 0 1em;

                    /*FORM TITLE (PERSONAL INFO && YOUR PAYMENT DETAILS)*/
                    .form-title {
                      margin        : 0;
                      padding-right : 0;
                      @media (max-width : 992px) {
                        margin-bottom : 1em;
                      }
                    }
                    /*YELLOW ARROW DISPLAYED ONLY IN DESKTOP*/
                    .yellow-arrow {
                      position : relative;
                      top      : 10px;
                    }
                  }

                  /*FORM GROUP (EACH INPUT AND INPUT)*/
                  .form-group {
                    padding       : 1em 0;
                    clear         : both;
                    margin-bottom : 0;
                    @media (max-width : 992px) {
                      padding       : 0;
                      margin-bottom : 1em;
                      width         : @width *10%;
                    }

                    /*CARD NUMBER FIELD AFTER CLEAR FIX */
                    &.card-number-after-clear-fix {

                      @media (max-width : 992px) {
                        margin : 0 0 1em 0 ;
                      }

                    }
                    label {
                      text-transform : capitalize;
                    }

                    /*INPUTS AND SELECT BOX*/
                    .form-control {
                      width  : @width*6%;
                      height : 40px;
                      @media (max-width : 992px) {
                        width : @width*10%;
                      }
                      &.error {
                        border : 3px solid red;
                      }

                    }
                    /*LABEL TAG FOR ALL THE INPUTS IN THE FORM */
                    .label-form {
                      font-size   : 1.2em;
                      font-weight : 100;
                      margin      : 0;
                      line-height : 32px;
                    }
                  }
                  .form-button {
                    .btn-color;
                    width      : 93.4%;
                    margin-top : 1em;
                    font-size  : 1.6vw;
                    min-height : 7.6vh;
                    @media (max-width : 1200px) {
                      font-size : 3vw;
                    }
                    @media (max-width : 992px) {
                      width      : @width*10%;
                      font-size  : 5.1vw;
                      min-height : 7vh;
                      margin     : 1vh 0;
                    }

                  }
                  .warning-massage-beneath-the-button.text-center {
                    color       : #2C98E0;
                    margin      : 2em auto;
                    font-size   : 0.8em;
                    text-shadow : 1px 1px 1px black;
                    width       : 93.266667%;
                  }
                }
              }
            }
          }
          /*MODAL FOOTER*/
          .modal-footer-deposit {
            /*THREE STEPS REGISTER WRAPPER*/

            .three-steps-for-register-wrapper {

              /*STEP WRAPPER */
              .step-wrapper {

                /*TEXT STEP (P TAG)*/
                .text-step {
                  .margin(1em, 0, 0, 0);

                  @media (max-width : 768px) {
                    .margin (1em, 0, 1em, 0);
                  }
                }
              }
            }
          }
        }
      }

    }

    /*MODAL BASE WRAPPER FOR FAQ*/
    .modal-faq {
      color      : white;
      background : rgba(0, 0, 0, 0.6);
      .padding(0, 0, 0, 0) !important;

      /*MODAL FAQ FIRST INNER WRAPPER*/
      .modal-dialog-faq {
        width : 820px;

        @media (max-width : 993px) {
          width : @width*8;
          //margin-top: 12.9em;
        }
        @media (max-width : 768px) {
          width   : @width*10%;
          padding : 0;
          margin  : 0;
          //.margin(12em, 0, 0, 0);
        }

        /*MODEL FAQ SECOND INNER WRAPPER*/
        .modal-faq-content {
          background : black;
          font-size  : 1.1em;

          /*HEADER TAG*/
          .modal-header-faq {
            background : @bg-color-header-modal;
            border     : none;

            /*MODAL TITLE*/
            .modal-title {
              background    : #01385e;
              border-bottom : 2px solid black;
              color         : white;
              border        : none;
              padding       : 15px;
              font-size     : 2.5em;
              text-shadow   : 1px 0px 1px black;
              font-weight   : 600;

              @media (max-width : 600px) {
                .padding(0.6em, 0, 0.2em, 0);
                .margin(0.1em, 0.3em, 0.1em, 0.3em);
                //font-size: 1.4em;
              }
            }

            .square-logo {
              position : absolute;
              right    : 0.6%;
              top      : 0.8%;

              @media (max-width : 993px) {
                .padding(0.8%, 0.8%, 0.8%, 0.8%);
                height : 24px;
              }
              @media (max-width : 768px) {
                height : 30px;
                top    : 0.3%;
              }
            }
          }

          /*BODY TAG*/
          .modal-body-faq {
            .padding(0, 0, 0, 0);
            /*QUESTION N ANSWER WRAPPER*/
            .question-n-answer-wrapper {
              border-bottom : 3px solid #282828;
              clear         : both;

              &:first-of-type {
                border     : none;
                margin-top : 2em;
              }

              /*QUESTION WRAPPER*/
              .question-wrapper {
                .margin(0, 0, 0, 0);
                cursor : pointer;

                @media (max-width : 600px) {
                  .margin(2em ,0, 1.2em, 0)
                }

                /*QUESTION TEXT WRAPPER*/
                .question-text {
                  width       : @width*9;
                  display     : inline-table;
                  font-size   : 22px;
                  color       : @question-color;
                  text-indent : 1px;
                  .margin(0.7em, 0, 0.5em, 0);
                  .padding-left(5px);

                  @media (max-width : 993px) {
                    //font-size: 1.4em;
                    margin-top : 0;
                  }
                  @media (max-width : 500px) {
                    //font-size: 1.2em;
                    display    : inline-table;
                    margin-top : 0;
                  }
                }

                /*IMG NUMBER WRAPPER*/
                .img-number-wrapper {
                  @media (max-width : 993px) {
                  }
                }

                .question-button {
                  font-size      : 1.5em;
                  vertical-align : baseline;
                  color          : #009AFF;
                  @media (max-width : 768px) {
                  }

                  @media (max-width : 410px) {
                  }
                }
              }

              /*ANSWER WRAPPER*/
              .answer-wrapper {
                .padding(0.5em, 3em, 0.5em, 3em);

                @media (max-width : 993px) {
                  //font-size: 0.9em;
                  .padding(1em, 1em, 1em, 1em)
                }

                @media (max-width : 768px) {
                  .padding(1em, 0.5em, 0, 2.4em);
                }

                /*ANSWER TEXT (P TAB)*/
                .answer {
                  text-shadow : 0px 2px 1px #404040;
                  font-size   : 18px;
                }
              }
            }
          }
          /*FOOTER TAG*/
          .modal-footer-faq {
          }
        }
      }
    }

    /*LOGO BRAND WRAPPER*/
    .logo-brand {

      /*LOGO BRAND IMAGE*/
      .logo-brand-img {
        height   : 4.7em;
        position : absolute;
        .left(0);
        .right(0);
        margin   : 0.5em auto;
        z-index  : 1;
        overflow : hidden;

        @media (max-width : 1240px) {
          .left(0);
          .right(0);
          margin     : 0 auto;
          text-align : center;
        }

        @media (max-width : 998px) {
          max-height : 53px;
          .left(0);
          .right (0);
          margin     : 0 auto;
          top        : 3.7em;
          text-align : center;

        }

        @media (max-width : 768px) {
          max-height : 41px;
          top        : 0;
        }
      }
    }
  }

  /*SCROLL BAR STYLES*/
  .scroll-bar-style;

  /*TEXT-COLOR-ON-TABLES*/
  .text-colors-on-tables;

  /*DISPLAY OPTIONS ON THE WAITING LOGOS*/
  .displaying-options-on-waiting-logos;
  .placeholder;
}

/*CUSTOMIZE THE TABLE LAYOUT */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align : middle;
  padding        : 3px;

  @media (max-width : 500px) {
    padding        : 3px;
    vertical-align : middle;
  }
}

