@import "bootstrap/bootstrap.less";

@position: "relative";

.btn-space {
  margin-right: 5px;
}

body {
  font-family: 'Roboto Condensed';
}

/*WRAPPER FOR ALL THE CONTENT*/
.content-wrapper {
  background: url(/img/panel/black/black.jpg);
  //width: 1903px;
  height: 100em;
  opacity: 0.5;

  /*ACCOUNT DETAILS*/
  .account-details {
    width: 205.7px;
    border: 1px solid gray;
    height: 8.6em;
    position: fixed;
    direction: ltr;
    right: 14.5%;
    border-bottom-right-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
    background-color: white;
    box-shadow: 0em 1.1px 1.4px 0.1px darkgray;
    z-index: 1;

    /*TITLE */
    .account-details-title {
      height: 2.2em;
      background: #00395E;

      /*DIV WRAPPER HUMAN AVATAR*/
      .img-human {
        display: inline-block;
        width: 15.3%;

        /*IMG TAG*/
        .icon-human-pic {
          display: block;
          max-width: 100%;
          height: auto;
          position: absolute;
          left: 9px;
          top: 5px;
        }
      }
      /*TITLE TEXT */
      .title {
        display: inline-block;
        color: white;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 31px;
        font-size: 1.25em;
      }
    }
    /*PARAGRAPHS WITH THE INFO TITLE*/
    .info-tab {
      margin: 0 0 2.2px;
      font-size: 0.9em;
      position: relative;
      top: 7px;
      left: 11px;

      /*SPAN INFO RESULTS*/
      .info-result {
        letter-spacing: 0.2px;
      }
    }
  }

  /*TOP NAVBAR*/
  .top-navbar {
    position: @position;
    top: 6.1%;
    background: #2c98e0;
    border: none;
    color: white;

    /*NAV BAR COLLAPSE ON MOBILE*/
    .navbar-collapse {

      /*NAV BAR INSIDE*/
      .navbar-nav {
        display: inline-block;
        float: none;

        /*LIST ELEMENT IN THE NAV-BAR (SPECIFIC LINK )*/
        .navbar-part {
          border-right: 1px solid #55B2EF;
          border-left: 1px solid #1C6DA2;

          /*HREF TEXT*/
          .navbar-text {
            color: inherit;
            font-weight: bold;
            letter-spacing: 0.1px;
            margin: 0;
          }
        }
      }
    }
  }

  /*INCENTIVE GUIDE FOR NEW CUSTOMERS */
  .activate-method-system {
    margin-top: 7.5em;
    box-sizing: initial;
    color: white;
    font-weight: bold;
    letter-spacing: 2.2px;
    background-color: #01395E;
    min-height: 5.8em;

    /*METHOD TITLE WRAPPER*/
    .active-method-title-wrapper {

      /*H3 */
      .method-title {
        font-size: 1.8em;
        letter-spacing: 1.9px;
        padding: 0;
        margin: 0.22em 0 0 1em;
      }
    }

    /*SUBTITLE WRAPPER*/
    .active-method-subtitle-wrapper {

      /*H4 TAG */
      .method-subtitle {

        /*ARROW ICON (<I> TAG) AT THE START AND THE END */
        .fa-arrow-down {
          color: #EFDE00;
        }

        /*SPAN TAG - TEXT WITHIN THE SUBTITLE */
        .active-method-text {
          font-size: 1.2em;
          position: relative;
          line-height: 23.8px;
          margin: 0px auto 0 -2.7px;
          letter-spacing: 2.3px;
          font-style: italic;
          color: #FFDE00;
          font-weight: bold;
        }
      }
    }
  }

  /*ARROW PICTURE AT THE BOTTOM OF THE INCENTIVE*/
  .arrow-img-wrapper {
    .arrow-img {
      margin-left: 10.7%;
    }
  }

  /*TABS SECTION*/
  .tabs-wrapper {

    &.container {
      padding: 0
    }

    /*TAB WRAPPER GENERAL*/
    .tab-wrapper {
      //border: 1px solid white;
      min-height: 13.3em;
      padding: 0;
      margin: 0.6em 0.5em 0 0.7em;
      min-width: 320px;
      background-color: #282828;

      /*FIRST TAB (SPECIFIC SIZE*/
      &.deposit {
        width: 35.5%;

        /*SPECIFIC TOP PART OF DEPOSIT*/
        .top-part{

          /*SPECIFIC TITLE*/
          .tab-title{
            text-indent: 70px;
          }
        }
      }

      /*SECOND TAB SPECIFIC SIZE*/
      &.auto-trading {
        width: 30.1%;
      }

      /*THIRD TAB SPECIFIC SIZE*/
      &.amount {
        width: 30.3%;
        margin-right: 0 !important;

        .amount-btn {
          width: 39%;
          margin: 0 13px 15px 0;
          position: relative;
          top: 8px;
          left: 4px;
          box-shadow: 1px 1px 10px 1px black;
          background: linear-gradient(to top, #222222, #444547);
          /* opacity: 0; */
          color: white;
        }
      }

      /*TOP PART OF EACH TAB*/
      .top-part {
        border: 1px solid black;

        /*CIRCLE IMAGE WITH THE STEP NUMBER*/
        .tab-number-in-circle {
          position: absolute;
          top: -21.3px;
          left: -10.7px;
          height: 65px;
          width: 65px;
          -webkit-border-radius: 50%;
          -webkit-background-clip: padding-box;
          border-radius: 50%;
          background-clip: padding-box;
          background: #ffde00;
          border: 6px solid #000;
          font-size: 41px;
          font-weight: bold;
          line-height: 51px;
          color: #000;
          text-shadow: -1px 2px 1px #f4ff96;
          -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
        }
        .tab-title {
          font-size: 1.5em;
          color: white;
          line-height: 59.4px;
          letter-spacing: 1.5px;
          word-spacing: -2.1px;
          margin: 0;
        }
      }
      /*BOTTOM PART WITH THE BUTTONS */
      .bottom-part {
        min-height: 8.8em;

        /*BUTTON FIRST*/
        .tab-big-button {
          font-size: 2em;
          line-height: 2.033333;
          border-radius: 6px;
          position: relative;
          top: 0.8em;
          opacity: 0.5;
          color: black;
          word-spacing: 0.8px;
          background: linear-gradient(to top, #79aa10, #aadd20, #a9dc1f);
          text-indent: -5.7px;
          width: 85%;
        }
      }
    }
  }

  /*TABLE OF THE OPEN TRADE*/
  .rb-options-open-trade,.rb-options-history{

    /*SPECIFIC CONTAINER*/
    .container {
      padding: 0;

     .table-row{

       .table-data{
         border-top:none;
       }
     }
      /*CAPTION OF THE TABLE */
      .table-title{
        margin: 53px 0 0 0;
        font-size: 1.95em;
        font-weight: bold;
        text-indent: -3.6px;
        color: white;
        letter-spacing: 0.7px;
        word-spacing: -1.8px;
        background-color: #002A43;
      }

      /*TR WITH ALL THE HEADERS*/
      .table-headers{
        background: #3E8CEE;
        color: black;
        font-size: 1.3em;
      }

      /*TR WITH ALL THE CONTENT (TD)*/
      .table-tr-content
      {
        color:white;
        &:nth-of-type(odd){
          background: #3F3F3F;
          color: white;
        }
        &:nth-of-type(even){
          background: #282828;
        }
        
        .td-position{
          font-size: 1.1em;
          .fa-arrow-down{
            color: red;
          }
          .fa-arrow-up{
            color: green;
          }
        }
      }
    }
  }
  .rb-options-history{
    .container{
      .table-title{
        margin: 0px 0 0 0;
      }
    }
  }
}
