@charset "utf-8";
/* CSS Document */
body
{
	font-family:Verdana, Geneva, sans-serif;
	padding:0;
	margin:0;
	
}
#facebook_feed
{
	width:100%;
	margin:0 auto;
}
.title
{
	width:302px;
}
.title h3
{
	height:30px;
	color:#23CBFF;
	font-weight:bold;
	padding:5px 0 0 10px;
	margin:0;
}
#feed
{
	width:100%;
	/*margin:20px auto 0;*/
	
}
#feed_content
{
	overflow-y: auto;
	border: 1px solid #CCC;
	background:#fff;
}
#data p
{
	font-size:11px;
	color:#000;
	font-weight:normal;
	padding:0;
	margin:0;
}
#feed_name
{
	font-weight:bold;
	color:#39588F;
	
	float:left;
	border-bottom:1px solid #CCC;
	width:100%;
}
#feed_name img
{
	border-radius:10px;
	padding:5px;
	float:left;
}
#feed_name a
{
	text-decoration:none;
	font-size:13px;
	color:#000;
}
#feed_name span
{
	font-weight:normal;
	color:#000;
	font-size:12px;
}
span.ctime
{
	padding:0 10px 0 0;
	font-size:11px !important;
	color:#8B9396 !important;
	float:right !important;
}